{% set ahas_arr = post.content_html|raw|split('<h2>') %}
{% set key_arr = [] %}
{% set val_arr = [] %}
{% set img_arr = [] %}
{% set html_template = '' %}
{% set images_nr = post.featured_images|length %}
{% set images_contor = 0 %}
{% set ahas_html = '' %}
<article>
<div class="columns">
  <div class="column col-12 col-nomanopa">
    <div class="btn-group btn-group">
     <a class="btn btn-link btn-sm" href="{{ viewBag.localeArticleListsPage[activeLocale]|app }}{{ret_to_page}}">
       <i class="icon icon-arrow-right"></i> {{ viewBag.localeArticleListsPage[activeLocale]|replace({('/'~activeLocale~'/'):''})  }}</a>
     <a class="btn btn-link btn-sm" href="{{ viewBag.localeArticleListsPage[activeLocale]|app }}{{ret_to_page}}" disabled>
       <i class="icon icon-arrow-right"></i> {{ viewBag.localeArticlePostPage[activeLocale]|replace({('/'~activeLocale~'/'):''}) }}</a>
     <a class="btn btn-link btn-sm" href="{{ viewBag.localeArticleListsPage[activeLocale]|app }}{{ret_to_page}}" disabled>
       <i class="icon icon-arrow-right"></i> {{ viewBag.localeSlug[activeLocale] }}</a>
    </div>
  </div>
</div>
{% if ahas_arr|length > 1 %}
	{% if ahas_arr[0]|length %}{{ ahas_arr[0]|raw }}{% endif %}
    {% for aha in ahas_arr %}
       {% if loop.index0 > 0 %}
       	{% set ahatemp_arr = aha|split('</h2>') %}
       	{% set ahaid = post.slug ~ '-' ~ loop.index0 %}
       	{% set aha_title = ahatemp_arr[0] %}
       	{% set key_arr = key_arr|merge([ahaid]) %}
       	{% set val_arr = val_arr|merge([aha_title]) %}
        {% set ahas_html = ahas_html ~  '<h2 style="clear:left;;min-width:342px;" id="'~ ahaid ~'" >' ~ aha %}

       	{% if (loop.index is divisible by(2) and images_contor < images_nr) %}
  		{% set image = post.featured_images[images_contor] %}
  		{% set img_title = post.title ~ ' ' ~ (images_contor+1) %}
 		  {% if  image.title|length %}
   			{% if 'img_' in image.title %} {% set img_title = ''~image.title|_ ~ '' %} {% else %} {% set img_title = '' ~ image.title ~ '' %}  {% endif %}
 		  {% endif %}
  		{% set img_arr = img_arr|merge([image.path]) %}
  		{% set images_contor = images_contor + 1 %}
      {% set dimensions = image.getTargetDimensionsFBR(closest_width,closest_width,image.path) %} FBR >> {{ dimensions[0]}}x{{dimensions[1]}}
      {% set ahas_html = ahas_html
        ~ '<div class="popup-gallery rel float-right" style="max-width:480px;">'
          ~ '<a href="' ~ image.thumb(closest_width, 0, {'mode': 'auto'}) ~ '" title="' ~  image_title ~ '">'
            ~ '<figure class="figure">'
            ~ '<picture class="img-responsive">'
              ~ '<!--[if IE 9]><video style="display: none;"><![endif]-->'
                ~ '<source sizes="(min-width: 1220px) 1220px, calc(100vw - 20px)"  srcset="'
                    ~ image.thumb(480,270, {'mode': 'crop', 'quality':thumb_quality}) ~ ' 1980w, '
                    ~ image.thumb(360,203, {'mode': 'crop', 'quality':thumb_quality}) ~ ' 1220w, '
                    ~ image.thumb(236,133, {'mode': 'crop', 'quality':thumb_quality}) ~ ' 968w, '
                    ~ image.thumb(180,101, {'mode': 'crop', 'quality':thumb_quality}) ~ ' 720w"  media="(min-width: 601px)"/>'
                ~ '<source sizes="(max-width: 600px) 600px, calc(100vw - 20px)" srcset="'
                    ~ image.thumb(540,540, {'mode': 'crop', 'quality':thumb_quality}) ~ ' 600w, '
                    ~ image.thumb(360,360,{'mode': 'crop', 'quality':thumb_quality}) ~ ' 420w"  media="(max-width: 600px)"/>'
              ~ '<!--[if IE 9]></video><![endif]-->'
              ~ '<img class="img-responsive" src="' ~ image.thumb(180,101, {'mode': 'auto'}) ~ '" '
                  ~ 'title="' ~ img_title ~ '"  '
                  ~ 'alt="' ~ img_title ~ '" '
                  ~ 'data-src="' ~ image.filename ~ '" '
                  ~ 'onContextMenu="return false;"/>'
            ~ '</picture>'
            ~ '<figcaption class="figure-caption text-center">' ~ img_title ~ '</figcaption>'
          ~ '</figure>'
        ~ '</a>'
      ~ '</div>' %}
        {% endif %}
       {% endif %}
     {% endfor %}
     <div class="columns">
       <div class="column col-12 col-nomanopa">
         <h1 class="">{{ post.title }}</h1>
         {% if key_arr|length > 1 %}
         <div class="docs-sidebar">
           <ul class="docs-nav nav">
             {{ ahas_nav_item|raw}}
             {% for akey in key_arr %}
            <li class="nav-item"><a href="#{{ key_arr[loop.index0] }}" rel="nofollow">{{ val_arr[loop.index0] }}</a></li>
             {% endfor %}
           </ul>
         </div>
        {% endif %}
       </div>
       <div class="column col-12 col-nomanopa">
         {{ ahas_html|raw }}
       </div>
    </div>
{% else %}
  <div class="columns">
      <div class="column col-12 col-nomanopa">
        {{ post.content_html|raw }}
      </div>
  </div>
{% endif %}

{% set gallery_popup    = '' %} {# available on  screen_width > 840 #}
{% set gallery_carousel = '' %}
{% if images_contor < images_nr %}
   {% for i in images_contor..(images_nr-1) %}
       {% set image = post.featured_images[i] %}
       {% set img_title = post.title  ~ ' ' ~ (images_contor+1) %}
       {% if  image.title|length %}
         	{% if 'img_' in image.title %} {% set img_title = image.title|_ %} {% else %} {% set img_title =  image.title %}  {% endif %}
       {% endif %}
       {% set img_arr = img_arr|merge([image.path]) %}
       {% set dimensions = (image_width|length and image_height|length)
                            ? [{'width':image_width, 'height':image_height}]
                            : image.getTargetDimensionsFBR(closest_width,closest_height, image.path) %}
        {% if (screen_width > 600) %}
            {% set gallery_popup = gallery_popup
              ~ '<div class="column ' ~ (images_nr - images_contor == 1 ? 'col-sm-12' : ' col-md-6') ~'">'
                ~ '<a href="' ~ image.thumb(closest_width, 0, {'mode': 'auto'}) ~'" title="' ~ image_title ~'">'
                  ~ '<picture class="img-responsive">'
                    ~ '<!--[if IE 9]><video style="display: none;"><![endif]-->'
                      ~ '<source sizes="(min-width: 1220px) 1220px, calc(100vw - 20px)" srcset="'
                           ~ ((images_nr - images_contor) == 1
                                ?     image.thumb(960,540, {'mode': 'crop', 'quality':thumb_quality}) ~' 1980w, '
                                    ~ image.thumb(640,360, {'mode': 'crop', 'quality':thumb_quality}) ~' 720w '
                                :     image.thumb(480,270, {'mode': 'crop', 'quality':thumb_quality}) ~' 1980w, '
                                    ~ image.thumb(360,203, {'mode': 'crop', 'quality':thumb_quality}) ~' 1024w, '
                                    ~ image.thumb(236,133, {'mode': 'crop', 'quality':thumb_quality}) ~' 720w'
                             )
                          ~ '" media="(min-width: 601px"/>'
                      ~ '<source sizes="(max-width: 600px) 600px, calc(100vw - 20px)" srcset="'
                            ~ image.thumb(540, 540,{'mode': 'crop', 'quality':thumb_quality}) ~' 600w, '
                            ~ image.thumb(360, 360,{'mode': 'crop', 'quality':thumb_quality}) ~' 420w"/>'
                      ~ '<!--[if IE 9]></video><![endif]-->'
                      ~ '<img src="' ~ ((images_nr - images_contor) == 1
                                          ? image.thumb(640, 360, {'mode': 'auto', 'quality':thumb_quality})
                                          : image.thumb(236, 133, {'mode': 'auto', 'quality':thumb_quality})
                                        )
                              ~ '" class="img-responsive" '
                              ~ 'title="' ~ image_title ~'" '
                              ~ 'alt="' ~ image_title ~'" '
                              ~ 'onContextMenu="return false;"/>'
                  ~ '</picture>'
                ~ '</a>'
              ~ '</div>'
           %}
        {% else %}
          {% set gallery_carousel = gallery_carousel
          ~ '\n<div class="item">'
            ~( loop.index0 == 0
                    ? '<picture class="img-responsive"><!--[if IE 9]><video style="display: none;"><![endif]-->'
                         ~'<source sizes="(min-width: 1220px) 1220px, calc(100vw - 20px)"  srcset="'
                         ~ image.thumb(960,540, {'mode': 'crop', 'quality':thumb_quality}) ~' 1980w, '
                         ~ image.thumb(640,360, {'mode': 'crop', 'quality':thumb_quality}) ~' 720w" media="(min-width: 601px"/> '
                         ~ '<source sizes="(max-width: 600px) 600px, calc(100vw - 20px)" srcset="'
                             ~ image.thumb(540, 540,{'mode': 'crop', 'quality':thumb_quality}) ~' 600w, '
                             ~ image.thumb(360, 360,{'mode': 'crop', 'quality':thumb_quality}) ~' 420w"/>'
                         ~ '<!--[if IE 9]></video><![endif]--> '
                         ~'<img src="'~ image.thumb(480,270,{'mode': 'crop', 'quality':thumb_quality}) ~'" '
                            ~'class="img-responsive" '
                            ~'alt="'~ image_title ~'" '
                            ~'title="'~ image_title ~'" '
                            ~'onContextMenu="return false;"/>'
                       ~'</picture>'
                    : '<img sizes="(min-width: 1220px) 1220px, calc(100vw - 20px)" class="img-responsive" data-sizes="auto"'
                        ~' src="'
                            ~ image.thumb(640,360, {'mode': 'crop', 'quality':thumb_quality}) ~'" '
                        ~	'srcset="'
                            ~ image.thumb(960,540, {'mode': 'crop', 'quality':thumb_quality}) ~' 1980w, '
                            ~ image.thumb(640,360, {'mode': 'crop', 'quality':thumb_quality}) ~' 720w, '
                            ~ image.thumb(540,540, {'mode': 'crop', 'quality':thumb_quality}) ~' 600w, '
                            ~ image.thumb(360,360, {'mode': 'crop', 'quality':thumb_quality}) ~' 420w" '
                        ~ 'class="img-responsive" '
                        ~ 'class="' ~( loop.index0 == 0 ?'':'lazyload no-src' ) ~ '" '
                        ~ 'alt="'~ image_title ~'"  '
                        ~ 'title="'~ image_title ~'" '
                        ~ 'onContextMenu="return false;"/>'
              )
              ~ (image_title|length ? '<h3>' ~ image_title ~ '</h3>' :'')
              ~ (image_description|length ? '<h4>' ~ image_description|raw ~'</h4>' : '')
          ~'</div>' %}
        {% endif %}
   {% endfor %}
   {% if gallery_popup|length %}
       <div class="columns popup-gallery">
         {{ gallery_popup|raw }}
       </div>
   {% endif %}
   {% if gallery_carousel|length %}
       <div class="owl-carousel owl-theme">
        {{ gallery_carousel|raw }}
       </div>
   {% endif %}
 {% endif %}

  {% if post.categories|length %}
      <p class="uk-article-meta">{{ post.published_at|date('d') }} {{ post.published_at|date('M') }} {{ post.published_at|date('Y') }} :.
   {% for category in post.categories %}
      {% if category.name|lower != 'homepage' %}<a href="{{ category.url }}">{{ category.name }}</a> :. {% endif %}
   {% endfor %}</p>
  {% endif %}
</article>
<aside>
 {% partial 'categories/_categories-default' objCategories=articolCategories %}
 {# partial 'arhive::_arhiva-an-titlu' archives=postsFromTheSameCategAsThisArticle  #}
</aside>
