[viewBag]
meta_title = "Termeni si conditii"
meta_description = "Despre termenii si conditiile de utilizare"
title = "Termeni si conditii"
==
<ol>
	<li data-empty="true">Utilizarea site-ului</li>
	<li data-empty="true">Confidentialitate</li>
	<li data-empty="true">Date personale
		<br>
	</li>
</ol>