{% set posts = __SELF__.posts %}
{% set posts_count = posts.count %}
{% set nest_elements = 4 %}
{% set nest_excerpt_slice = 80 %}
{% set nest_content_slice = 100 %}
{% set html_template = '' %}
{% for post in posts %}
 {% if post.excerpt|length < 500 %} {% set txtl =  500-post.excerpt|length %} {% else %} {% set txtl =  500 %} {% endif %}
 {% set postUrl =  postPage~'/'~post.slug~ '?retpage='~posts.currentPage %}
 {% if viewBag.localeArticlePostPage[activeLocale]|length %}
   {% set postUrl = viewBag.localeArticlePostPage[activeLocale] ~'/'~post.slug~ '?retpage='~posts.currentPage %}
 {% endif %}
 {% if (posts.count > nest_elements  and loop.index <= nest_elements) %}
   {% set html_template = html_template
     ~ '<div class="column col-6">'
       ~ '<figure class="figure">'
    	 ~ '<a href="' ~ postUrl|app~ '">'
   %}
     {% if post.featured_images.count %}
       {% set image = post.featured_images[post.featured_images.count-1] %}
       {% set image_title = post.title|slice(0,80) %}
       {% if  image.title|length %}
         {% if 'img_' in image.title %} {% set image_title =  image.title|_ %} {% else %} {% set image_title = image.title %} {% endif %}
       {% endif %}
       {% set html_template = html_template
         ~ '<img class="img-responsive centered" srcset="'
            ~ image.thumb(480,270, {'mode': 'crop', 'quality':thumb_quality}) ~ ' 1980w, '
            ~ image.thumb(360,203, {'mode': 'crop', 'quality':thumb_quality}) ~ ' 1280w" '
            ~ ' src="' ~ image.thumb(360, 203, {'mode': 'crop', 'quality':thumb_quality}) ~'" title="'~ image_title ~'" alt="' ~ image_title ~ '"'
            ~ ' data-src="'~ image.filename ~'" onContextMenu="return false;"/>'
       %}
    {% else %}
       {% set html_template = html_template
        ~ '<img class="img-responsive centered"  src="data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20395.636%20395.636%22%3E%3Cpath%20fill%3D%22%23FFF%22%20d%3D%22M6.206%206.206h383.29v383.29H6.205z%22%2F%3E%3Cpath%20d%3D%22M395.636%20395.636H0V0h395.636v395.636zM12.346%20383.29H383.29V12.346H12.348V383.29z%22%20fill%3D%22%23193651%22%2F%3E%3Cpath%20fill%3D%22%232EA2DB%22%20d%3D%22M30.9%2030.9h333.835v302.934H30.9z%22%2F%3E%3Cpath%20fill%3D%22%23E1E6E9%22%20d%3D%22M364.735%20333.834l-84.105-129.81-90.828%20129.81%22%2F%3E%3Cpath%20fill%3D%22%23ECF0F3%22%20d%3D%22M257.81%20333.834L141.576%20164.46%2030.9%20333.835%22%2F%3E%3Ccircle%20cx%3D%22260.267%22%20cy%3D%22117.463%22%20r%3D%2240.21%22%20fill%3D%22%23FFF%22%2F%3E%3Cg%20fill%3D%22%23193651%22%3E%3Cpath%20d%3D%22M158.9%20354.844h12.348v12.347H158.9zM191.612%20354.844h12.347v12.347H191.61zM224.388%20354.844h12.347v12.347h-12.347z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E"
          onContextMenu="return false;" alt="'~ image_title ~'"  title="'~ image_title ~'">'
       %}
    {% endif %}
    {% set html_template = html_template
       ~ '</a>'
    	  ~ '<figcaption class="figure-caption text-center">'
      	  ~ '<a href="' ~  postUrl|app ~ '"><h2 class="uk-h4">' ~ post.title|slice(0,80) ~ '...</h2></a>'
      	  ~ ( (post.excerpt|length > 0) ? '<h3 class=" ">' ~ post.excerpt|slice(0,nest_excerpt_slice)|raw ~ '.. </h3>'  : '')
      	  ~ ( (post.content_html|length > 0) ? '<div>' ~  post.content_html|striptags|slice(0, nest_content_slice)|raw ~ '.. </div>' : '')
		   ~ '</figcaption>'
    ~ '</figure>'
    ~ '</div>' %}

    {% if (loop.index is divisible by(2)) %}
       <div class="columns col-nomanopa">
         {{ html_template|raw }} {% set html_template = ''%}
      </div>
<hr class="divider">
    {% elseif loop.index == nest_elements %}
         <div class="columns col-nomanopa">
           {{ html_template|raw }} {% set html_template = '' %}
        </div>
<hr class="divider">
   {% endif %}
 {% else %}
   {% set html_bg = 'bg-gray' %}
   {% if (loop.index is divisible by(2)) %}
     {% set html_bg = 'bg-lighten' %}
   {% endif %}
   {% set html_template = html_template
  ~ '<div class="columns col-nomanopa">'
   ~ '<div class="column col-12">'
    ~ '<a href="' ~ postUrl|app ~ '"><h1>' ~ post.title ~ '</h1></a>'
   ~ '</div> '
   %}
    {% if post.featured_images.count %}
      {% set image = post.featured_images[post.featured_images.count-1] %}
      {% set image_title = post.title|slice(0,80) %}
       {% if  image.title|length %}
         {% if 'img_' in image.title %} {% set image_title =  image.title|_ %} {% else %} {% set image_title = image.title %} {% endif %}
       {% endif %}

       {% set html_template =  html_template
      ~ '<div class="column col-xs-12 col-sm-12 col-5">'
        ~ '<a href="' ~ postUrl|app ~ '" class="text-center">'
        ~ '<picture class="img-responsive centered mr-5" onContextMenu="return false;">'
          ~ '<!--[if IE 9]><video style="display: none;"><![endif]-->'
            ~ '<source sizes="(min-width: 1240px) 1240px, calc(100vw - 20px)" '
              ~ 'srcset="'~ image.thumb(480,270, {'mode': 'crop', 'quality':thumb_quality}) ~ ' 1980w, '
                          ~ image.thumb(360,203, {'mode': 'crop', 'quality':thumb_quality}) ~ ' 1280w" '

              ~ 'media="(min-width: 601px"/>'
            ~ '<source sizes="(max-width: 600px) 600px, calc(100vw - 20px)" '
              ~ 'srcset="' ~  image.thumb(540, 540,{'mode': 'crop'}) ~ ' 600w, '
                           ~  image.thumb(360, 360,{'mode': 'crop'}) ~ ' 400w" '
              ~ '/>'
          ~ '<!--[if IE 9]></video><![endif]-->'
          ~ '<img src="'  ~ image.thumb(180, 120, {'mode': 'auto'}) ~ '" '
                  ~ ' class="img-responsive" '
                  ~ 'title="' ~ image_title ~ '" '
                  ~ 'alt="' ~ image_title ~ '" data-src="' ~ image.filename ~ '"  onContextMenu="return false;"/>'
       ~ '</picture>'
      ~ '</a>'
     ~'</div>' %}
	  {% endif %}
    {% set html_template =  html_template
    ~ '<div class="column col-xs-12 col-sm-12 col-7">'
      ~ (post.excerpt|length ? '<h2 class="">'~ post.excerpt ~'</h2>' : '')
    ~ '</div>'
    ~ '<div class="column col-12">'
      ~ (post.content_html|length ? '' ~ post.content_html|striptags|slice(0,txtl)~ '... ' ~ '' : '')
        ~ '<div class="float-right"> '
            ~ '<a class="btn btn-sm mt-10 ml-10" href="'~ postUrl|app ~ '">' ~ 'read_more'|_ ~ '</a> '
        ~ '</div> '
    ~ '</div>'
 ~ '</div>'
  %}
 {% endif %}
{% endfor %}

{{ html_template|raw }} {% set html_template = '' %}

<hr class="divider">
{# firstPage {{ posts.firstPage }} > lastPage {{ posts.lastPage }} > currentPage {{ posts.currentPage }} > firstItem {{ posts.firstItem }} > lastItem {{ posts.lastItem }} #}
 {% if posts.lastPage > 1 %}
<ul class="pagination">
 {% if posts.currentPage > 1 %}
   {% if (posts.currentPage != 1 and posts.currentPage != 2)%}
 <li class="page-item"><a href="{{ this.page.baseFileName|page }}?page=1 }}" title="{{ 'pagina_de_inceput'|_ }}">&lt;&lt;</a></li>
   {% endif %}
 <li class="page-item"><a href="{{ this.page.baseFileName|page }}?page={{ (posts.currentPage-1) }}" title="{{ 'pagina_anterioara'|_ }}">&lt;</a></li>
 {% endif %}
 {% for page in 1..posts.lastPage %}
   {% if posts.currentPage == page %}
 <li class="page-item active"><span>{{ page }}</span></li>
   {% else %}
 <li class="page-item"><a href="{{ this.page.baseFileName|page }}?page={{ page }}">{{ page }}</a></li>
   {% endif %}
 {% endfor %}
 {% if posts.lastPage > posts.currentPage %}
  <li class="page-item"><a href="{{ this.page.baseFileName|page }}?page={{ (posts.currentPage+1) }}" title="{{ 'pagina_urmatoare'|_ }}">&gt;</a></li>
   {% if (posts.currentPage != posts.lastPage and posts.currentPage != (posts.lastPage-1))%}
 <li class="page-item"><a href="{{ this.page.baseFileName|page }}?page={{ posts.lastPage }}" title="{{ 'pagina_de_sfarsit'|__ }}">&gt;&gt;</a></li>
   {% endif %}
 {% endif %}
 </ul>
 {% endif %}
