{% for category in categories %}
{% set postCount = category.post_count %}
{% set catUrl = category.url %}
{% if viewBag.localeCategoryListsPage[activeLocale]|length %}
	 {% set catUrl = viewBag.localeCategoryListsPage[activeLocale] ~'/'~category.slug %}
{% endif %}
<li class="nav-item"><a  href="{{ catUrl|app }}" {% if (this.page.id == 'categorii' and viewBag.localeSlug[activeLocale] == category.slug) %} class="uk-active" {% endif %}>
 {{ category.name }} {% if postCount %}<span class="badge {% if (this.page.id == 'categorii' and viewBag.localeSlug[activeLocale] == category.slug) %} uk-badge-danger  {% endif %}"  data-badge="{{ postCount }}"></span> {% endif %}</a>
 {% if category.children  %}
  {% partial "categories/_categories-items"
      categories=category.children
      currentCategorySlug=currentCategorySlug
  %}
 {% else %}
</li>
{% endif %}
{% endfor %}
