{% set posts = __SELF__.posts %}
{% set posts_count = posts.count %}
{% for post in posts %}
 {% if post.excerpt|length < 400 %} {% set txtl =  400-post.excerpt|length %} {% else %} {% set txtl =  55 %} {% endif %} 
 {% set postUrl =  postPage~'/'~post.slug %}
 {% if viewBag.localeArchivePostPage[activeLocale]|length %}
  {% set postUrl = viewBag.localeArticlePostPage[activeLocale] ~'/'~post.slug %}
 {% endif %}
     <div class="uk-margin-top uk-margin-bottom"  data-uk-grid-margin>
       <div class="uk-panel uk-panel-box uk-panel-header {% if loop.index % 2 == 0 %} uk-panel-box-primary {% else %} uk-panel-box-secondary {% endif %}">
       	<a href="{{ postUrl|app }}"><h1 class="uk-panel-title">{{ post.title }}</h1></a>
		<p>{% for category in post.categories %}{% if category.name|lower != 'homepage' %}<a href="{{ category.url }}" class="{% if category.slug == viewBag.localeSlug[activeLocale] %}uk-text-bold {% endif %}">{{ category.name }}</a> :. {% endif %}{% endfor %}</p>
     {% if post.featured_images.count %}
    {% set image = post.featured_images[post.featured_images.count-1] %}
    {% set image_title = '' %}
       {% if  image.title|length %}
       {% if 'img_' in image.title %} {% set image_title =  image.title|_ %} {% else %} {% set image_title = image.title %} {% endif %}
    {% endif %}
   <div class="uk-margin-small-left uk-margin-small-right uk-text-center {% if loop.index is divisible by(2) %}uk-float-right {% else %}uk-float-left {% endif %} ">
   <a href="{{ postUrl|app }}" ><picture  class="uk-thumbnail uk-thumbnail-expand"  onContextMenu="return false;">
	<!--[if IE 9]><video style="display: none;"><![endif]-->
	  <source sizes="(min-width: 1220px) 1220px, calc(100vw - 20px)" srcset="{{ image.thumb(360,240, {'mode': 'crop', 'quality':65}) }} 1920w, {{ image.thumb(300,200, {'mode': 'crop', 'quality':65}) }} 1024w, {{ image.thumb(236,157, {'mode': 'crop', 'quality':65}) }} 840w, {{ image.thumb(180,120, {'mode': 'crop', 'quality':65}) }} 720w"   media="(min-width: 561px)"/>
	  <source sizes="(min-width: 560px) 560px, calc(100vw - 20px)" srcset="{{ image.thumb(540,540, {'mode': 'crop', 'quality':65}) }} 600w, {{ image.thumb(360,360, {'mode': 'crop', 'quality':65}) }} 400w"/>
	 <!--[if IE 9]></video><![endif]--><img src="{{ image.thumb(180,120, {'mode': 'crop', 'quality':65}) }}" alt="{{ image_title }}" title="{{ image_title }}" data-src="{{ image.filename }}"  onContextMenu="return false;"/></picture></a></div>
	{% endif %} 
    {% if post.excerpt|length %}<h2 class="uk-h3 uk-text-primary uk-text-justify">{{ post.excerpt }}</h2>{% endif %}        
    <p class="uk-text-justify">{{ post.content_html|replace({'&quot;': '"'})|striptags|slice(0,txtl)|replace({'&quot;':'“'}) ~ ' ...' }}</p>
    <div class="uk-clearfix">
     <div class="uk-float-right uk-margin-small-top">
      <a class="uk-button" href="{{ postUrl|app }}">{{ 'citeste_mai_mult'|_ }}</a>
     </div>
    </div>
       </div>
    </div>
{% endfor %}	
{# firstPage {{ posts.firstPage }} > lastPage {{ posts.lastPage }} > currentPage {{ posts.currentPage }} > firstItem {{ posts.firstItem }} > lastItem {{ posts.lastItem }} #}
{% if posts.lastPage > 1 %}
<ul class="uk-pagination">
 {% if posts.currentPage > 1 %}
   {% if (posts.currentPage != 1 and posts.currentPage != 2)%}
 <li><a href="{{ this.page.baseFileName|page }}?page=1 }}" title="{{ 'pagina_de_inceput'|_ }}">&lt;&lt;</a></li>
   {% endif %}
 <li><a href="{{ this.page.baseFileName|page }}?page={{ (posts.currentPage-1) }}" title="{{ 'pagina_anterioara'|_ }}">&lt;</a></li>
 {% endif %}
 {% for page in 1..posts.lastPage %}
   {% if posts.currentPage == page %}
 <li class="uk-active"><span>{{ page }}</span></li>
   {% else %}
 <li><a href="{{ this.page.baseFileName|page }}?page={{ page }}">{{ page }}</a></li>
   {% endif %}
 {% endfor %}
 {% if posts.lastPage > posts.currentPage %}
  <li><a href="{{ this.page.baseFileName|page }}?page={{ (posts.currentPage+1) }}" title="{{ 'pagina_urmatoare'|_ }}">&gt;</a></li>
   {% if (posts.currentPage != posts.lastPage and posts.currentPage != (posts.lastPage-1))%}
 <li><a href="{{ this.page.baseFileName|page }}?page={{ posts.lastPage }}" title="{{ 'pagina_de_sfarsit'|__ }}">&gt;&gt;</a></li>
   {% endif %}
 {% endif %}
 </ul>
{% endif %}	
