description = "Ajax layout"
==
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/2.2.1/jquery.min.js"></script>
  <script type="text/javascript">!window.jQuery && document.write(unescape('%3Cscript src="{{ 'assets/js/vendor/jquery-2.2.1.min.js'|theme }}"%3E%3C/script%3E'));</script>
{#    <script>
     // document ready
		 (function jqIsReady() {
				 if (typeof $ === "undefined"){
						 setTimeout(jqIsReady,50);
						 return ;
				 }
           (function($) {

                {% component 'getDimension' %}
                {% if placeholder('addToDocumentReadyStart') %} {% placeholder addToDocumentReadyStart %} {% endif %}

                  // FACEBOOK
				 							$.ajaxSetup({ cache: true });
				 							$.getScript('//connect.facebook.net/en_US/sdk.js', function(){
								 			FB.init({
							 									 appId			: '2019941584893590',
							 									 version		: 'v2.9',
																 autoLogAppEvents : true,
																 status     : true,
																 cookie			: true,
				 											 	 xfbml      : false
							 				});
											//FB.AppEvents.logPageView();

											FB.api(
													'https://graph.facebook.com/modernfitweb/feed/',
													'get',
													{access_token:'EAActIEyidpYBADHrqDp8lmpm6LYUkjf4d5IM45SZAUaN9TUXW8PAERSVIkDfDnIjGhGbbjE0dJZBULlDqRiYG640381wZBrZBMztuKtkose0QcmaJMjkevQOBapKbOhCcB1AMfHuFsFsYskuJE5yASyZC5EaXKyDzaNmeThNpXQZDZD', limit: 1 },
													function(response) {
																if (!response || response.error) {
																		//console.log(response.error);
																	} else {
																		//console.log('response: ' + JSON.stringify(response.data));

																		$.each(response.data, function (index, item) {
																				$.each(item, function (key, val) {
																						if (key == 'id') {
																								///console.log("Index=" + index + ", key=" + key + ", val=" + val);
																								var cusfbrespkv = val.split('_');
																								var cusfbiframe = document.getElementById('cusfbiframe');
																								if (cusfbiframe){
																									cusfbsrc = 'https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fmodernfitweb%2Fposts%2F'+cusfbrespkv[1]+'&width=640&height=480';
																									cusfbiframe.src = cusfbsrc;
																									//console.log(cusfbsrc);
																								}
																						}
																				});
																		});
																}
													});
											});
									/*
									 (function(d, s, id) {
																				 var js, fjs = d.getElementsByTagName(s)[0];
																				 if (d.getElementById(id)) return;
																				 js = d.createElement(s); js.id = id;
																				 js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.9";
																				 fjs.parentNode.insertBefore(js, fjs);
																				}(document, 'script', 'facebook-jssdk'));
									//*/

           }(jQuery));
			 })();
        </script>
#}
