description = "Default layout"

[staticPage]

[staticMenu MenuLeftVertical]
code = "MenuLeftVertical"

[staticMenu MenuTopHorizontal]
code = "MenuTopHorizontal"

[localePicker]
forceUrl = 0

[getDimension]
width = 360
height = 360
thumbQuality = 75

[SeoCmsPage seoCusCmsPage]
==
<?php
function onInit()
{

  // get the fallback language into locale
  $this->locale = $this->defaultLocale = Config::get('app.fallback_locale', false);
  // init. the translator
  use RainLab\Translate\Classes\Translator;
  use RainLab\Translate\Models\Message;
  use RainLab\Translate\Models;
  use RainLab\Translate\Models\Locale as LocaleModel;

  $this->translator = Translator::instance();
///var_dump ($this->translator);
  if (!$this->translator->isConfigured()) {
      return;
  }

  if (!$this->translator->loadLocaleFromRequest()) {
      $this->translator->loadLocaleFromSession();
      return;
  }

  if (!$this->translator->getLocale()) {
      $this->translator->setLocale($this->translator->getDefaultLocale());
  }

  $this->locale = $this->translator->getLocale();
  $this->locales = LocaleModel::listEnabled();
  $this->defaultLocale = $this->translator->getDefaultLocale();

}
function onStart()
{
  use Fbr\ModernFitwebFeature\Components\GetDimension;
  $dimObj = new GetDimension();
  $dim = $dimObj->getSize();
  $this['screen_width']     = (int)$dim['screen_width'];
  $this['screen_height']    = (int)$dim['screen_height'];
  $this['screen_width_ck']  = (int)$dim['screen_width_ck'];
  $this['screen_height_ck'] = (int)$dim['screen_height_ck'];
  $this['screen_orientation'] = (int)$dim['screen_orientation'];
  $this['closest_width']    = (int)$dim['closest_width'];
  $this['closest_height']   = (int)$dim['closest_height'];
  $this['thumb_quality']    = (int)$dim['thumb_quality'] > 0 ? (int)$dim['thumb_quality'] : 85;
}
?>
==
<!DOCTYPE html>
<html lang="{% if activeLocale in locales|keys %}{{ activeLocale }}{% else %}{{ defaultLocale }}{% endif %}">
 <head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="Accept-CH" content="DPR,Width,Viewport-Width">
  <script type="text/javascript" src="{{ 'assets/js/main.min.js'|theme }}?v=2" async></script>

  <style>{% partial 'code-inline/styleinline'  %}</style>
	{#<link rel="stylesheet"  href="{{ 'assets/css/main-layout.min.css'|theme }}"> #}
  <link rel="preload" href="{{ 'assets/css/main-utils.min.css'|theme }}" as="style" onload="this.rel='stylesheet'" >
  <link rel="preload" href="{{ 'assets/vendor/owlcarousel/assets/owl.carousel-plus-theme.min.css'|theme }}" as="style" onload="this.rel='stylesheet'" >

	<script>
  	{% partial 'code-inline/scriptinline' %}
		document.write(unescape('%3Clink  rel="preload" href="{{ 'assets/vendor/aos/aos.css'|theme }}" as="style" onload="this.rel=\'stylesheet\'" %3E'));
	</script>
	<noscript>
   <link rel="stylesheet" href="{{ 'assets/css/main-utils.min.css'|theme }}">
	 <link rel="stylesheet" href="{{ 'assets/css/icons.data.svg.min.css'|theme }}">
  </noscript>

  {% styles %}
  <link rel="dns-prefetch" href="//connect.facebook.net">
  {#-
   <!-- Prefetch DNS for external assets -->
   <link rel="dns-prefetch" href="//cdnjs.cloudflare.com">
   <link rel="dns-prefetch" href="//ajax.googleapis.com">
   <link rel="dns-prefetch" href="//www.google-analytics.com">
   <link rel="prefetch" href="{{ 'assets/css/main-ocolor-blue.min.css'|theme }}" as="style"> -#}

  <link rel="shortcut icon" href="{{ 'assets/images/favicon.ico'|theme }}" type="image/x-icon">
  <link rel="apple-touch-icon-precomposed" href="{{ 'assets/images/apple-touch-icon.png'|theme }}">

  {% component 'seoCusCmsPage' %}
  <meta name="author" content="FBR">
  <meta name="generator" content="OctoberCMS">
  <meta name="robots" content="noimageindex">
 </head>
<body>
<!-- Header -->
<header class="section section-header bg-lighten  box-shadow-bottom"  id="top">
 {% partial 'site/header' %}
</header>

<!-- Content -->
<section class="container grid-hero grid-1280">
    <section class="columns">
      <div class="docs-sidebar column col-3 col-md-12" id="sidebar">
				<a href="#sidebar-close" class="show-md icon icon-cross" style="position:fixed; top:.5rem;right:2.5rem; height:2rem;width:2rem;color:#ff0000;" title="close"></a>
				{% partial 'site/menu-left' %}
      </div>
      <a href="#sidebar-close" class="docs-nav-clear" id="sidebar-close"></a>
      <div class="docs-content column col-9 col-md-12">
      <!-- Page -->
        {% page %}
      </div>
    </section>
</section>
<!-- Footer -->
<footer class="bg-gray">
 {% partial 'site/footer' %}
</footer>

<script type="text/javascript" src="{{ 'assets/vendor/aos/aos.js'|theme }}" async></script>
    <script>
     // document ready
		 (function jqIsReady() {
				 if (typeof $ === "undefined"){
						 setTimeout(jqIsReady,50);
						 return ;
				 }
           (function($) {
             $(document).ready(function() {
                {% component 'getDimension' %}
                {% if placeholder('addToDocumentReadyStart') %} {% placeholder addToDocumentReadyStart %} {% endif %}

               // AOS - Animate on scroll
               (function AOSIsReady() {
									 if (typeof AOS === "undefined"){
											 setTimeout(AOSIsReady,50);
											 return ;
									 }

                   function AOSIsRefreshed() {
                      if( PreviousWX != wxy[0] ||  PreviousWY != wxy[1]){
                        AOS.refresh();
                      }
                   }

									 $(window).on('resize', function () {
                    // set an interval to store new window sizes in ajax
                     setTimeout(AOSIsRefreshed, 1000);
                   });

									 $(window).on('load', function() { setTimeout(AOS.refreshHard, 150); });
		 							AOS.init({
		 								easing: 'ease-out-back',
		 								duration: 1000,
										disable: function () {
											var maxWidth = 480;
											return window.innerWidth < maxWidth;
										}
		 							});
							  })();

                // Magnific POPUP
                (function MagnificPopupIsReady() {
                   if (typeof $.magnificPopup === "undefined"){
                       setTimeout(MagnificPopupIsReady,50);
                       return ;
                   }
                   $('.popup-gallery').magnificPopup({
                     delegate: 'a',
                     type: 'image',
                     tLoading: 'Loading image #%curr%...',
                     mainClass: 'mfp-img-mobile',
                     gallery: {
                       enabled: true,
                       navigateByImgClick: true,
                       preload: [0,1] // Will preload 0 - before current, and 1 after the current image
                     },
                     image: {
                       tError: '<a href="%url%">The image #%curr%</a> could not be loaded.',
                       titleSrc: function(item) {
                         return item.el.attr('title') +'';
                       }
                     }
                   });
                })();
                /// TABS
                (function() {
                    [].slice.call( document.querySelectorAll( '.panel' ) ).forEach( function( el ) {
                      new CBPFWTabs( el );
                    });
                  })();

                  /// OWL Carousel
                  (function owlCarouselsIsReady() {
             				 if (typeof $.fn.owlCarousel === "undefined"){
             						 setTimeout(owlCarouselsIsReady,50);
             						 return ;
             				 }
                      $('.owl-carousel').owlCarousel({
                          items:1,
                          lazyLoad:true,
                          loop:true,
                          margin:10
                      });
                  })();

     
                  {% if placeholder('addToDocumentReadyEnd') %} {% placeholder addToDocumentReadyEnd %} {% endif %}
             });

           }(jQuery));

			 })();

        </script>
        {% scripts %}
  </body>
</html>
