description = "Homepage layout"

[staticPage]

[staticMenu MenuLeftVertical]
code = "MenuLeftVertical"

[staticMenu MenuTopHorizontal]
code = "MenuTopHorizontal"

[localePicker]
forceUrl = 0

[getDimension]
width = 360
height = 360
thumbQuality = 75

[SeoCmsPage seoCusCmsPage]
==
<?php
function onInit()
{
	// init. the translator
  use RainLab\Translate\Classes\Translator;
  use RainLab\Translate\Models\Message;
  use RainLab\Translate\Models;
	use RainLab\Translate\Models\Locale as LocaleModel;

	// get the fallback language into locale
  $this->locale = $this->defaultLocale = Config::get('app.fallback_locale', false);
  $this->translator = Translator::instance();

  if (!$this->translator->isConfigured()) {
      return;
  }
  if (!$this->translator->loadLocaleFromRequest()) {
      $this->translator->loadLocaleFromSession();
      return;
  }

  if (!$this->translator->getLocale()) {
      $this->translator->setLocale($this->translator->getDefaultLocale());
  }

  $this->locale = $this->translator->getLocale();
	$this->locales = LocaleModel::listEnabled();
  $this->defaultLocale = $this->translator->getDefaultLocale();

}

function onStart()
{
  use Fbr\ModernFitwebFeature\Components\GetDimension;
  $dimObj = new GetDimension();
  $dim = $dimObj->getSize();
  $this['screen_width']     = (int)$dim['screen_width'];
  $this['screen_height']    = (int)$dim['screen_height'];
  $this['screen_width_ck']  = (int)$dim['screen_width_ck'];
  $this['screen_height_ck'] = (int)$dim['screen_height_ck'];
  $this['screen_orientation'] = (int)$dim['screen_orientation'];
  $this['closest_width']    = (int)$dim['closest_width'];
  $this['closest_height']   = (int)$dim['closest_height'];
  $this['thumb_quality']    = (int)$dim['thumb_quality'] > 0 ? (int)$dim['thumb_quality'] : 85;
}

?>
==
<!DOCTYPE html>
<html lang="{% if activeLocale in locales|keys %}{{ activeLocale }}{% else %}{{ defaultLocale }}{% endif %}">
 <head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="Accept-CH" content="DPR,Width,Viewport-Width">
	<script type="text/javascript" src="{{ 'assets/js/main.min.js'|theme }}" async></script>
	<style>{% partial 'code-inline/styleinline' %}</style>
	{#<link rel="stylesheet"  href="{{ 'assets/css/main-layout.min.css'|theme }}"> #}
	<link rel="preload" href="{{ 'assets/css/main-utils.min.css'|theme }}" as="style" onload="this.rel='stylesheet'" >
	<script>
  	{% partial 'code-inline/scriptinline' %}
		document.write(unescape('%3Clink  rel="preload" href="{{ 'assets/vendor/aos/aos.css'|theme }}" as="style" onload="this.rel=\'stylesheet\'" %3E'));
	</script>
	<noscript>
   <link rel="stylesheet" href="{{ 'assets/css/main-utils.min.css'|theme }}">
	 <link rel="stylesheet" href="{{ 'assets/css/icons.data.svg.min.css'|theme }}">
  </noscript>
  {% styles %}

 {#- <!-- Prefetch DNS for external assets -->
	<link rel="dns-prefetch" href="//connect.facebook.net">
  <link rel="dns-prefetch" href="//ajax.googleapis.com">
  <link rel="dns-prefetch" href="//www.google-analytics.com">
	<link rel="dns-prefetch" href="//cdnjs.cloudflare.com">
	-#}
  <link rel="shortcut icon" href="{{ 'assets/images/favicon.ico'|theme }}" type="image/x-icon">
  <link rel="apple-touch-icon-precomposed" href="{{ 'assets/images/apple-touch-icon.png'|theme }}">
  {% component 'seoCusCmsPage' %}
	<meta name="author" content="FBR">
	<meta name="generator" content="OctoberCMS">
	<meta name="robots" content="noimageindex">
 </head>
<body>
<!-- Header -->
<header class="section section-header bg-lighten  box-shadow-bottom"  id="top">
 {% partial 'site/header' %}
</header>
<!-- Home Hero -->
<section class="section section-hero" id="home">
 <div id="overview" class="grid-hero container bg-lighten box-opacity grid-960 text-center ">
	 	{% content "homepage/01-hero-intro" %}
  <!-- Home Hero Cards-->
  <div class="columns">
   <div class="column col-4 col-lg-4 col-md-6 col-sm-6 col-xs-12">
     <div class="card box-shadow-card aos-item" data-aos="fade-up">
      <div class="card-header text-left">
        <h4 class="card-title">&raquo; {% content "homepage/02-hero-1card-title" %}</h4>
      </div>
      <div class="card-body text-left">
        <div class="float-right ml-10 mb-10 text-center">
        	<span class="card-title-icon fbr-icon-technology"></span>
        	<br/><a href="#website-development" class="btn btn-sm btn-secondary">read more</a>
        </div>
        {% content "homepage/02-hero-1card-body" %}
      </div>
    </div>
   </div>
   <div class="column col-4 col-lg-4 col-md-6 col-sm-6 col-xs-12">
     <div class="card box-shadow-card aos-item" data-aos="fade-up" data-aos-delay="100">
      <div class="card-header text-left">
        <h4 class="card-title">&raquo; {% content "homepage/02-hero-2card-title" %}</h4>
      </div>
      <div class="card-body text-left">
        <div class="float-right ml-10 mb-10 text-center">
        	<span class="card-title-icon fbr-icon-puzzle"></span>
        	<br/><a href="#responsive-design" class="btn btn-sm btn-secondary">read more</a>
        </div>
        {% content "homepage/02-hero-2card-body" %}
      </div>
    </div>
   </div>
   <div class="column col-4 col-lg-4 col-md-6 col-sm-6 col-xs-12">
     <div class="card box-shadow-card aos-item" data-aos="fade-up"  data-aos-delay="200">
      <div class="card-header text-left">
        <h4 class="card-title">&raquo; {% content "homepage/02-hero-3card-title" %}</h4>
      </div>
      <div class="card-body text-left">
        <div class="float-right ml-10 mb-10 text-center">
        	<span class="card-title-icon fbr-icon-teamwork"></span>
        	<br/><a href="#itsm" class="btn btn-sm btn-secondary">read more</a>
        </div>
        {% content "homepage/02-hero-3card-body" %}
      </div>
    </div>
   </div>
    <div class="column col-4 col-lg-4 col-md-6 col-sm-6 col-xs-12">
     <div class="card box-shadow-card aos-item" data-aos="fade-up"  data-aos-delay="300">
      <div class="card-header text-left">
        <h4 class="card-title">&raquo; {% content "homepage/02-hero-4card-title" %}</h4>
      </div>
      <div class="card-body text-left">
        <div class="float-right ml-10 mb-10 text-center">
        	<span class="card-title-icon fbr-icon-internet"></span>
        	<br/><a href="#optimized" class="btn btn-sm btn-secondary">read more</a>
        </div>
        {% content "homepage/02-hero-4card-body" %}
      </div>
    </div>
   </div>
   <div class="column col-4 col-lg-4 col-md-6 col-sm-6 col-xs-12">
     <div class="card box-shadow-card aos-item" data-aos="fade-up"  data-aos-delay="400">
      <div class="card-header text-left">
        <h4 class="card-title">&raquo; {% content "homepage/02-hero-5card-title" %}</h4>
      </div>
      <div class="card-body text-left">
          <div class="float-right ml-10 mb-10 text-center">
          	<span class="card-title-icon fbr-icon-networking-3"></span>
          	<br/><a href="#multilingual" class="btn btn-sm btn-secondary">read more</a>
          </div>
          {% content "homepage/02-hero-5card-body" %}
        </div>
    </div>
   </div>
   <div class="column col-4 col-lg-4 col-md-6 col-sm-6 col-xs-12">
     <div class="card box-shadow-card aos-item"  data-aos="fade-up" data-aos-delay="400">
      <div class="card-header">
        <h4 class="card-title text-left">&raquo; {% content "homepage/02-hero-6card-title" %}</h4>
      </div>
      <div class="card-body text-left">
        <div class="float-right ml-10 mb-10 text-center">
        	<span class="card-title-icon fbr-icon-idea"></span>
        	<br/><a href="#transparency" class="btn btn-sm btn-secondary">read more</a>
        </div>
        {% content "homepage/02-hero-6card-body" %}
      </div>
    </div>
  </div>
  </div>
</div>
</section>
<!-- Content -->
<section class="container grid-1280">
    <section class="columns">
      <div class="docs-sidebar column col-3 col-md-12" id="sidebar">
				<a href="#sidebar-close" class="show-md icon icon-cross" style="position:fixed; top:.5rem;right:2.5rem; height:2rem;width:2rem;color:#ff0000;" title="close"></a>
				{% partial 'site/menu-left' %}
      </div>
      <a href="#sidebar-close" class="docs-nav-clear" id="sidebar-close"></a>
      <div class="docs-content column col-9 col-md-12">
      <!-- Page -->
        {% page %}
      </div>
    </section>
</section>
<!-- Footer -->
<footer class="bg-gray">
 {% partial 'site/footer' %}
 {% component 'getDimension' %}
</footer>
		<script type="text/javascript" src="{{ 'assets/vendor/aos/aos.js'|theme }}" async></script>
    <script>
     // document ready
		 (function jqIsReady() {
				 if (typeof $ === "undefined"){
						 setTimeout(jqIsReady,50);
						 return ;
				 }

		           (function($) {
								 $(document).ready(function() {
		
										{% if placeholder('addToDocumentReadyStart') %} {% placeholder addToDocumentReadyStart %} {% endif %}
		
			               // AOS - Animate on scroll
			               (function AOSIsReady() {
								 if (typeof AOS === "undefined"){
										 setTimeout(AOSIsReady,50);
										 return ;
								 }
		
			                  	function AOSIsRefreshed() {
			                      	wxy = onResizeGetScreenDim();
			                      	if( PreviousWX != wxy[0] ||  PreviousWY != wxy[1])
			                      	{
			                        	AOS.refresh();
									}
			                   	}
		
								 $(window).on('resize', function () {
			                    	// set an interval to store new window sizes in ajax
			                     	setTimeout(AOSIsRefreshed, 1000);
			                   	});
		
							 	$(window).on('load', function() { setTimeout(AOS.refreshHard, 150); });
					 							AOS.init({
					 								easing: 'ease-out-back',
					 								duration: 1000,
													disable: function () {
														var maxWidth = 480;
														return window.innerWidth < maxWidth;
													}
					 							});
							})();
			               
			                // Magnific POPUP
			                (function MagnificPopupIsReady() {
			                   if (typeof $.magnificPopup === "undefined"){
			                       setTimeout(MagnificPopupIsReady,50);
			                       return ;
			                   }
			                   $('.popup-gallery').magnificPopup({
			                     delegate: 'a',
			                     type: 'image',
			                     tLoading: 'Loading image #%curr%...',
			                     mainClass: 'mfp-img-mobile',
			                     gallery: {
			                       enabled: true,
			                       navigateByImgClick: true,
			                       preload: [0,1] // Will preload 0 - before current, and 1 after the current image
			                     },
			                     image: {
			                       tError: '<a href="%url%">The image #%curr%</a> could not be loaded.',
			                       titleSrc: function(item) {
			                         return item.el.attr('title') + '<small>by Marsel Van Oosten</small>';
			                       }
			                     }
			                   });
			                })();
		
											<!-- JavaScript API -->
		
		              	{% if placeholder('addToDocumentReadyEnd') %} {% placeholder addToDocumentReadyEnd %} {% endif %}
		             });
		
								 	// create social networking pop-ups
							(function() {
									 var Config = {
										 Link: "a.share",
										 Width: 500,
										 Height: 500
									 };
		
									 // add handler links
									 var slink = document.querySelectorAll(Config.Link);
									 for (var a = 0; a < slink.length; a++) {
										 slink[a].onclick = PopupHandler;
									 }
		
									 // create popup
									 function PopupHandler(e) {
		
										 e = (e ? e : window.event);
										 var t = (e.target ? e.target : e.srcElement);
		
										 // popup position
										 var
											 px = Math.floor(((screen.availWidth || 1024) - Config.Width) / 2),
											 py = Math.floor(((screen.availHeight || 700) - Config.Height) / 2);
		
										 // open popup
										 var popup = window.open(t.href, "social", "width="+Config.Width+",height="+Config.Height+",left="+px+",top="+py+",location=0,menubar=0,toolbar=0,status=0,scrollbars=1,resizable=1");
										 if (popup) {
											 popup.focus();
											 if (e.preventDefault) e.preventDefault();
											 e.returnValue = false;
										 }
		
										 return !!popup;
									 }
		
							}());
		           }(jQuery));

			 })();

			 function parseScript(_source) {
			     var source = _source;
			     var scripts = new Array();

			     // Strip out tags
			     while(source.toLowerCase().indexOf("<script") > -1 || source.toLowerCase().indexOf("</script") > -1) {
			         var s = source.toLowerCase().indexOf("<script");
			         var s_e = source.indexOf(">", s);
			         var e = source.toLowerCase().indexOf("</script", s);
			         var e_e = source.indexOf(">", e);

			         // Add to scripts array
			         scripts.push(source.substring(s_e+1, e));
			         // Strip from source
			         source = source.substring(0, s) + source.substring(e_e+1);
			     }

			     // Loop through every script collected and eval it
			     for(var i=0; i<scripts.length; i++) {
			         try {
			           if (scripts[i] != '')
			           {
			             try  {          //IE
			                   execScript(scripts[i]);
			       }
			       catch(ex)           //Firefox
			       {
			         window.eval(scripts[i]);
			       }

			             }
			         }
			         catch(e) {
			             // do what you want here when a script fails
			          // window.alert('Script failed to run - '+scripts[i]);
			           if (e instanceof SyntaxError) console.log (e.message+' - '+scripts[i]);
			                     }
			     }
			 // Return the cleaned source
			     return source;
		}

        </script>
        {% scripts %}
    </body>
</html>
