[viewBag]
==
<section id="copyright" class="grid-footer container grid-1280">
  <div class="columns">
    <div class="column col-1">
      <a href="{{ '/'|app }}#top" style="margin-top:-40px;" title="go to top"
      onclick="scrollToTop();return false;"><i class="btn btn-action btn-primary btn-lg circle icon icon-arrow-up"></i></a>
    </div>
   <div class="column col-11 text-center">
    <p class="ml-10">
          &copy; {{ "now"|date("Y") }} ModernFitWeb.com,
          a web product of the company S.C. TustDigital S.R.L.<br>
          # We build fast loading web pages. Join the club #
          {{ screen_width }}x{{ screen_height }}
    </p>
  </div>
 </div>
</section>
