[viewBag]
==
<!-- Nav -->
<section class="grid-header container grid-1280">
<nav class="navbar">
 <section class="navbar-section">
   <a href="#sidebar" class="btn btn-action btn-lg btn-link show-md"><i class="icon icon-menu"></i></a>
  {# <figure class="avatar ml-5" data-initial="T" title="theme"
   onclick="var ocolorItem = document.getElementById('ocolor'); if(ocolorItem.getAttribute('href').indexOf('-green.')>0) {
      ocolorItem.setAttribute('href', '{{ 'assets/css/main-ocolor-blue.min.css'|theme }}');
    } else {
      ocolorItem.setAttribute('href', '{{ 'assets/css/main-ocolor-green.min.css'|theme }}');
    }"></figure>
    #}
    {% for item in MenuTopHorizontal.menuItems %}
 		 {% if item.items and item.title == activeLocale %}
 			 	{% for itemLocale in item.items %}
        <div class="dropdown">
         <div class="btn-group">
          <a href="{{ itemLocale.url|app }}" class="btn btn-sm mr-5" title="{{ itemLocale.title }}">{% if itemLocale.viewBag.cssClass|length %}<i class="{{ itemLocale.viewBag.cssClass }}"></i><span class="hide-sm ml-5">{{ itemLocale.title }}</span>{% else %}{{ itemLocale.title }}{% endif %}</a>
	         {% if itemLocale.items %}
            <a class="btn btn-primary dropdown-toggle" tabindex="0"><i class="icon icon-caret"></i></a>
            <ul class="menu">
				         {% partial 'site/menu-top-items' items=item.items %}
            </ul>
		       {% endif %}
         </div>
        </div>
 				{% endfor %}
 		 {% else %}
 			 {% if(item.items and item.title != 'ro' and  item.items and item.title != 'en' and  item.items and item.title != 'de' and  item.items and item.title != 'fr') %}
       <div class="dropdown">
        <div class="btn-group mr-5">
         <a href="{{ item.url|app }}" class="btn" title="{{ item.title }}">{% if item.viewBag.cssClass|length %}<i class="{{ item.viewBag.cssClass }}"></i><span class="hide-sm ml-5">{{ item.title }}</span>{% else %}{{ item.title }}{% endif %}</a>
          {% if itemLocale.items %}
           <a class="btn btn-primary dropdown-toggle" tabindex="0"><i class="icon icon-caret"></i></a>
           <ul class="menu">
                {% partial 'site/menu-top-items' items=item.items %}
           </ul>
          {% endif %}
        </div>
       </div>
 			{% endif %}
 		 {% endif %}
 		 {% endfor %}
 </section>
 <section class="navbar-center">
  <a href="{% set break = false %}{% for item in MenuTopHorizontal.menuItems if not break %} {% if item.title == activeLocale %}{{ item.url|app }} {% set break = true %}{% endif %} {% endfor %}" class="navbar-brand">
  <span class="navbar-brand-font-1">Modern</span><span class="navbar-brand-font-2">Fit</span><span class="mr-5 navbar-brand-font-3">Web</span>&nbsp;<span class="navbar-brand-logo fbr-icon-startup mr-5"></span>
  </a>
</section>
 <section class="navbar-section">
{#-
   <div class="input-group input-inline hide-sm">
     <input class="form-input input-sm" type="text" placeholder="search" />
     <button class="btn btn-primary btn-sm input-group-btn">Search</button>
   </div>
-#}
{% if locales|length %}
  <div class="dropdown">
    <div class="btn-group">
      <a class="btn btn-link dropdown-toggle" tabindex="0" style="padding-left:0;" title="{{ locales[activeLocale] }}"><i class="icon icon-caret" style="vertical-align:top;"></i><i class="navbar-flag fbr-icon-flag-{{ activeLocale }}"></i></a>
      <ul class="menu">
        {% for languageCode, languageTitle in locales %}
          {% if activeLocale != languageCode %}
           <li class="menu-item"><a href="#" class="mr-5" data-request="onSwitchLocale" data-request-data="locale: '{{ languageCode }}'" title="{{ languageTitle }}"><i class="navbar-flag fbr-icon-flag-{{ languageCode }}"></i></a></li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>
  {% endif %}
 </section>
</nav>
</section>
