[viewBag]
==
<ul class="docs-nav nav">
{% for childitem in items %}
 <li class="nav-item {{ childitem.isActive or childitem.isChildActive ? 'active' : '' }}">
  <a href="{{ childitem.url|app }}" class="{{ childitem.viewBag.cssClass }}">{{ childitem.title }}</a>
 </li>
{% endfor %}
</ul>
