<ul class="docs-nav nav">
{% if MenuLeftVertical|length %}
  {% for item in MenuLeftVertical.menuItems %}
   {% if item.items and item.title == activeLocale %}
      {% for itemLocale in item.items %}
      <li class="nav-item {{ item.isActive or item.isChildActive ? 'active' : '' }}">
        <a href="{{ itemLocale.url|app }}" class="{{ itemLocale.viewBag.cssClass }}" >{{ itemLocale.title }}</a>
         {% if itemLocale.items %}
           {% partial 'site/menu-left-items' items=itemLocale.items %}
         {% endif %}
      </li>
      {% endfor %}
   {% else %}
     {% if(item.items and item.title != 'ro' and  item.items and item.title != 'en' and  item.items and item.title != 'de' and  item.items and item.title != 'fr') %}
     <li class="nav-item {{ item.isActive or item.isChildActive ? 'active' : '' }}">
       <a href="{{ item.url|app }}" class="{{ item.viewBag.cssClass }}" >{{ item.title }}</a>
       {% if itemLocale.items %}{% partial 'site/menu-left-items' items=item.items %}{% endif %}
     </li>
    {% endif %}
   {% endif %}
   {% endfor %}
  {% else %}
  <li class="nav-item">
    <a href="{% set break = false %}{% for item in MenuTopHorizontal.menuItems if not break %} {% if item.title == activeLocale %}{{ item.url|app }} {% set break = true %}{% endif %} {% endfor %}" class="" >{{ 'Home'|_ }}</a>
  </li>
  {% endif %}
  <li class="nav-item">
    <a href="#" class="" >{{'Categories of articles'|_}}</a>
    {% placeholder sidebar default %}
    {% endplaceholder %}
 </li>
</ul>
