[viewBag]
==
{% for item in items %}
<li class="menu-item"><a href="{{ item.url|app }}">{% if item.viewBag.cssClass|length %}<i class="{{ item.viewBag.cssClass }}"></i><span class="hide-sm ml-5">{{ item.title }}</span>{% else %}{{ item.title }}{% endif %}</a></li>
{% endfor %}
