<p>&#10003;IT Operational Portal helps day to day operations of an IT environment</p>
<p>&#10003;document your IT infrastructure</p>
<p>&#10003;manage all possible incidents, user requests, planned outages, helpdesk issues, consistency audits</p>
<p>&#10003;keeps your IT services and contracts with external providers</p>
