<p>"<strong>site-urile care se încarcă încet frustrează clienții</strong> și au impact negativ în afacere...
ceretările arată ca <strong>53% din vizitatorii ce folosesc dispozitive mobile abandonează</strong> pagina web care se încarca în <strong>peste 3 secunde</strong>" - relevă Doubleclick (owned by Google), în Sept.2016
</p>
<p>"site-urile care se încarcă pînă in <strong>5 secunde</strong> față de <strong>19 secunde</strong> sunt:
<br>&#10003;vizibile cu 25% mai mult
<br>&#10003;timpul petrecut pe ele este cu  70% mai îndelung iar
<br>&#10003;rata de abandon este cu 35% mai mica
</p>
