<p>"<strong>Slow loading sites frustrate users and negatively impact publishers</strong>...
we found that 53% of mobile site visits are abandoned if pages take longer than 3 seconds to load."
according to a research from Doubleclick (owned by Google), Sept.2016</p>
<p>Sites that load in 5 seconds vs 19 seconds had:
  "25% higher ad viewability (and) 70% longer average sessions (and) 35% lower bounce rates".</p>
