Thinkig big to the <strong>future of the business</strong>, the company needs that its website to be
<strong>easy to translate</strong> in several other languages.
<span class="hide-md">We deliver in the standard package a <a href="#multilingual">multilingual</a> translation tool for the site's user interface or for the administration panel.</span>
