{% set switcher_navigation = '' %}
{% set switcher_panel = '' %}
{% set script_content = '' %}
{% for project in projects %}
  {% set images_content = '' %}
  {% set services_content = '' %}
  {% set tags_content = '' %}
  {% set names_content = '' %}

  {% set prj_key = loop.index %}
 {% if loop.index0 == 0  %}
    {% set switcher_navigation = '<li class="tab-item active"><a href="#company-prj-'~prj_key~'" rel="nofollow" rel="noreferrer" class="">' ~  project.name  ~'</a></li>' %}
    {% set class_toggle= 'visible' %}
 {% else %}
    {% set switcher_navigation = switcher_navigation ~ '<li class="tab-item"><a href="#company-prj-'~prj_key~'"  rel="nofollow" rel="noreferrer"  class="">' ~  project.name  ~'</a></li>' %}
    {% set class_toggle= 'hide'    %}
 {% endif %}
 {% set names_content = '\n<div class="column col-12">'
        ~'<h3 class="text-normal text-bold">'~project.customer~'</h3>'
        ~'<h4 class="text-normal text-italic">'~project.name~'</h4>'
        ~ (project.description|length  ? '<div>' ~ project.description ~ '</div>' : '' )
        ~'\n</div><!-- end:project customer -->' %}
 {% if project.tags|length %}
    {% set tags_content = '\n<div class="column col-12"><h5>' ~  'company-project-labels'|_ ~' &raquo;</h5>' %}
    {% for atagg in project.tags %}
      {% set tags_content = tags_content  ~ '<label class="chip">' ~ atagg.getIconHtmlContent(atagg.icon)|raw ~ '&nbsp;'~  atagg.name ~ ' &hellip;</label> ' %}
    {% endfor %}
    {% set tags_content = tags_content~ '\n</div><!-- end:project labels -->' %}
  {% endif %}

  {% if project.pictures|length > 0 %}
    {% set slide_carousel = '' %}
    {% for image in project.pictures %}
        {% set slide_key = 'slide-'~ prj_key ~'-'~loop.index %}
        {% if image.title|length %}
          {% set image_title= image.title %}
        {% else %}
          {% set image_title =  project.name ~ '-' ~loop.index %}
        {% endif %}
        {% set slide_carousel = slide_carousel
          ~ '\n<div class="item">'
            ~( loop.index0 == 0	 ? '<picture class="img-responsive"  style="width:100%; height:100%"><!--[if IE 9]><video style="display: none;"><![endif]-->'
                         ~'<source sizes="(min-width: 1220px) 1220px, calc(100vw - 20px)"  srcset="'
                         ~ image.thumb(960,540, {'mode': 'crop', 'quality':70}) ~' 1980w, '
                         ~ image.thumb(640,360, {'mode': 'crop', 'quality':70}) ~' 680w, '
                         ~ image.thumb(480,270, {'mode': 'crop', 'quality':70}) ~' 540w"/> '
                         ~ '<!--[if IE 9]></video><![endif]--> '
                         ~'<img src="'~ image.thumb(480,270,{'mode': 'crop', 'quality':70}) ~'" alt="'~ image_title ~'"  title="'~ image_title ~'" onContextMenu="return false;"/>'
                       ~'</picture>'
                    :'<img sizes="(min-width: 1220px) 1220px, calc(100vw - 20px)"	 style="width:100%; height:100%" data-sizes="auto"'
                      ~'data-src="'
                      ~ image.thumb(480,270, {'mode': 'crop', 'quality':70}) ~'"'
                      ~	' data-srcset="'
                          ~ image.thumb(960,540, {'mode': 'crop', 'quality':70}) ~' 1980w, '
                          ~ image.thumb(640,360, {'mode': 'crop', 'quality':70}) ~' 680w, '
                          ~ image.thumb(480,270, {'mode': 'crop', 'quality':70}) ~' 540w"
                         class="img-responsive ' ~( loop.index0 == 0 ?'':'lazyload no-src' ) ~ '"  onContextMenu="return false;"/>')
          ~'</div>' %}
     {% endfor %}
     {% set images_content = images_content
      ~'\n<div class="column col-12">'
           ~'<div id="' ~ prj_key ~'" class="owl-carousel owl-theme">'
           ~ slide_carousel
           ~'</div>'
      ~'\n</div><!--end: project.pictures-->' %}
{% endif %}

 {% if project.services|length %}
   {% set services_content = services_content
     ~ '\n<div class="column col-12"><h5>'
       ~  'company-project-services'|_
       ~' </h5>'
       ~'<div class="btn-group btn-group-block">' %}
   {% for service in project.services %}
     {% set services_content = services_content  ~ '<button class="btn">' ~ service.getIconHtmlContent(service.icon)|raw ~ '&nbsp;'~  service.name ~ ' </button>' %}
   {% endfor %}
   {% set services_content = services_content
     ~ '</div>'
  ~'\n</div><!-- end: project services -->' %}
 {% endif %}

{% set switcher_panel = switcher_panel ~ '\n<div id="company-prj-'~prj_key ~ '" class="panel-body ' ~ class_toggle ~ '">'
    ~'\n<div class="columns">'
      ~ names_content
      ~ images_content
      ~ services_content
      ~ tags_content
   ~ '\n</div>'
  ~'\n</div><!-- end: id="company-prj-'~prj_key~'"-->' %}
{% endfor -%}

<div class="columns"><!-- columns projects.count > 0 -->
  <div class="column col-12">
    <h2>{{ 'company-projects'|_ }}</h2>
    <div class="panel">
      <div class="panel-header text-center">
          <nav class="panel-nav">
            <ul class="tab tab-block">
              {{ switcher_navigation|raw }}
            </ul>
          </nav>
      </div>
      {{ switcher_panel|raw }}
    </div><!-- end: panel -->
  </div><!-- end: column 12 projects -->
</div><!-- end: columns projects.count > 0 -->
