[viewBag]
title = "Terms and conditions"
url = "/terms-and-conditions"
layout = "homepage-layout"
is_hidden = 0
navigation_hidden = 0
meta_title = "Terms and conditions"
meta_description = "terms and conditions,  confidentiality and user agreement"
seo_title = "partea doi titlu"
seo_description = "partea doi descriere"
seo_keywords = "terms, confidentiality"
robot_index = "index"
robot_follow = "follow"
localeUrl[ro] = "/termeni-si-conditii"
localeUrl[de] = "/termeni-si-conditii"
==
<ol>
	<li>General&nbsp;</li>
	<li>Confidentiality</li>
	<li>User agreement
		<br>
	</li>
</ol>