{% put addToDocumentReadyEnd %}
var facebookLastPost = document.getElementById('facebookLastPost');
if (facebookLastPost)
{
  $.post("{{'/facebooklastpost'|app }}", { shareUrl: '{{ this.page.baseFileName|page }}'}, function(data)
      {
            //var parseData = parseScript(data);
            facebookLastPost.innerHTML = data;
      });
}
{% endput %}
<div class="container">
  <div id="facebookLastPost"></div>
</div>
