<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/2.2.1/jquery.min.js"></script>
<script type="text/javascript">!window.jQuery && document.write(unescape('%3Cscript src="{{ 'assets/js/vendor/jquery-2.2.1.min.js'|theme }}"%3E%3C/script%3E'));</script>

<iframe  class="centered" id="cusfbiframe" src="about:blank" width="640"
 height="440" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
<script>
  // document ready
  (function jqIsReady() {
      if (typeof $ === "undefined"){
          setTimeout(jqIsReady,50);
          return ;
      }
        (function($) {
                 // FACEBOOK
                   $.ajaxSetup({ cache: true });
                   $.getScript('//connect.facebook.net/en_US/sdk.js', function(){
                   FB.init({
                              appId			: '2019941584893590',
                              version		: 'v2.10',
                              autoLogAppEvents : true,
                              status     : true,
                              cookie			: true,
                              xfbml      : false
                   });
                   //FB.AppEvents.logPageView();
                   FB.api(
                       'https://graph.facebook.com/modernfitweb/feed/',
                       'get',
                       {access_token:'EAActIEyidpYBAHwbKIcXzYh3XZCuemM0PADmXr1ASyIGO4hcyuZAtxDlsyImjdQxSMvuITNz7PwqlS3njOCWLqwwZBnbaT8Lbf6cUvP9gudZBkHn3PrGJMeOOEI4m0Na8vdOnT33OKMdRmXe2ZCk7wfM9uLAcI54tMgETimF3ZBAZDZD', limit: 1 },
                       function(response) {
                             if (!response || response.error) {
                                 console.log(response.error);
                               } else {
                                 console.log('response: ' + JSON.stringify(response.data));

                                 $.each(response.data, function (index, item) {
                                     $.each(item, function (key, val) {
                                         if (key == 'id') {
                                             ///console.log("Index=" + index + ", key=" + key + ", val=" + val);
                                             var cusfbrespkv = val.split('_');
                                             var cusfbiframe = document.getElementById('cusfbiframe');
                                             if (cusfbiframe){
                                               cusfbsrc = 'https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fmodernfitweb%2Fposts%2F'+cusfbrespkv[1]+'&width=640&height=480';
                                               cusfbiframe.src = cusfbsrc;
                                               //console.log(cusfbsrc);
                                             }
                                         }
                                     });
                                 });
                             }
                       });
                   });
               /*
                (function(d, s, id) {
                                      var js, fjs = d.getElementsByTagName(s)[0];
                                      if (d.getElementById(id)) return;
                                      js = d.createElement(s); js.id = id;
                                      js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.9";
                                      fjs.parentNode.insertBefore(js, fjs);
                                     }(document, 'script', 'facebook-jssdk'));
               //*/
               {% if placeholder('addToDocumentReadyEnd') %} {% placeholder addToDocumentReadyEnd %} {% endif %}

        }(jQuery));
    })();
</script>
