[viewBag]
snippetCode = "reservation"
snippetName = "Reservation"
==
<div id="result">
    {% flash %}
    <p class="alert alert-success">{{ message }}</p>
    {% endflash %}

    {% if error %}
    <p class="alert alert-danger">{{ error }}</p>
    {% endif %}
</div>

<script type="text/javascript">
    var booked = JSON.parse('{{ dates | raw }}');
    var dateFormat = '{{ settings.formats_date }}';
    var timeFormat = '{{ settings.formats_time }}';
    var timeInterval = {{ settings.reservation_interval }};
    var firstDay = {{ settings.first_weekday }};
    var disableDays = "{{ settings.work_days|join(',') }}";
    var startWork = '{{ settings.work_time_from }}';
    var finishWork = '{{ settings.work_time_to }}';
</script>
<form
    class="reservationform form-horizontal form-panel"
    method="post"
    data-request="{{ __SELF__ }}::onSubmit"
    data-request-update="'{{ __SELF__ }}::success': '#result'"
    data-request-success="$('#{{ __SELF__ }} input[type=text], #{{ __SELF__ }} textarea').val('');"
     data-uk-margin
    id="{{__SELF__}}"{% if sent %} class="sent"{% endif %}>

    <div class="form-group">
      <div style="width:38%;">
        <label for="date" class="form-label label-lg"><i class="icon icon-bookmark"></i> {{ 'Date'|_ }}</label>
      </div>
      <div style="width:62%;">
        <input id="date" name="date" class="form-input datepicker" type="text" value="{{ post.date }}" />
      </div>
    </div>
    <div class="form-group">
      <div style="width:38%;">
        <label for="time" class="form-label label-lg"><i class="icon icon-time"></i>  {{ 'Hour'|_ }}</label>
      </div>
      <div style="width:62%;">
        <input id="time" name="time" class="form-input" type="text" value="{{ post.time }}" />
      </div>
    </div>
    <div class="form-group">
      <div style="width:38%;">
        <label for="email" class="form-label label-lg"><i class="icon icon-mail"></i> {{ 'Email'|_ }}</label>
      </div>
      <div style="width:62%;">
        <input id="email" name="email" class="form-input" pattern="[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$" type="email" placeholder="{{ 'your-email@address.here'|_ }}" value="{{ post.email }}" />
      </div>
    </div>
    <div class="form-group">
      <div style="width:38%;">
        <label for="time" class="form-label label-lg"><i class="icon icon-people"></i> {{ 'Name'|_ }}</label>
      </div>
      <div style="width:62%;">
        <input id="name" name="name" class="form-input" type="text" placeholder="{{ 'First Name Last Name'|_ }}" value="{{ post.name }}" />
      </div>
    </div>
    <div class="form-group">
      <div style="width:38%;">
        <label for="time" class="form-label label-lg"><i class="icon icon-location"></i>  {{ 'Address'|_ }}*</label>
      </div>
      <div  style="width:62%;">
        <input id="street" name="street" class="form-input" type="text" placeholder="{{ 'optional'|_ }}" value="{{ post.street }}" />
      </div>
    </div>
    <div class="form-group">
      <div style="width:38%;">
        <label for="phone" class="form-label label-lg"><i class="icon icon-message"></i> {{ 'Phone'|_ }}*</label>
      </div>
      <div style="width:62%;">
        <input id="phone" name="phone" class="form-input" type="tel" placeholder="{{ 'optional'|_ }}" value="{{ post.phone }}" />
      </div>
    </div>
    <div class="form-group">
      <div style="width:38%;">
        <label for="message" class="form-label label-lg"><i class="icon icon-edit"></i> {{ 'Your message'|_ }}</label>
      </div>
      <div style="width:62%;">
        <textarea id="message" name="message" class="form-input"  placeholder="{{ 'Text'|_ }}">{{ post.message }}</textarea>
      </div>
    </div>
    {{ form_token() }}
    <div class="form-group">
		<div style="width:38%;">&nbsp;</div>
		<div style="width:62%;">
      		<button type="submit" name="{{ __SELF__ }}-submit" class="btn btn-primary" value="1" id="submit">{{ 'Send'|_ }}</button>
      	</div>
    </div>
</form>
