[class*='fbr-icon-'] {
  display: inline-block;
  background-size: 100%;
}

.fbr-icon-small {
  width: 1.5rem;
  height: 1.5rem;
  vertical-align: middle;
}

.fbr-icon-medium {
  width: 2.5rem;
  height: 2.5rem;
  vertical-align: middle;
}
.fbr-icon-large {
  width:4rem;
  height:4rem;
  vertical-align: middle;
}

a:hover svg > stroke,.ehover:hover svg > stroke, .eprimary:hover svg > stroke {
 stroke: #007666;
}
a:hover svg >path, .ehover:hover svg > path,  .eprimary:hover svg > path {
 fill: #007666;
}
.eprimary svg > path {
 fill: #BC4E00;
}
.eprimary svg > stroke {
 stroke: #BC4E00;
}
.fbr-icon-arrow {
	background-image: url('png/arrow.png');
	background-repeat: no-repeat;
}



.fbr-icon-arrow_64 {
	background-image: url('png/arrow_64.png');
	background-repeat: no-repeat;
}



.fbr-icon-arrows {
	background-image: url('png/arrows.png');
	background-repeat: no-repeat;
}



.fbr-icon-arrows_64 {
	background-image: url('png/arrows_64.png');
	background-repeat: no-repeat;
}



.fbr-icon-behance {
	background-image: url('png/behance.png');
	background-repeat: no-repeat;
}



.fbr-icon-business-3 {
	background-image: url('png/business-3.png');
	background-repeat: no-repeat;
}



.fbr-icon-business-3_64 {
	background-image: url('png/business-3_64.png');
	background-repeat: no-repeat;
}



.fbr-icon-computer-1 {
	background-image: url('png/computer-1.png');
	background-repeat: no-repeat;
}



.fbr-icon-computer-1_64 {
	background-image: url('png/computer-1_64.png');
	background-repeat: no-repeat;
}



.fbr-icon-computer-2 {
	background-image: url('png/computer-2.png');
	background-repeat: no-repeat;
}



.fbr-icon-computer-2_64 {
	background-image: url('png/computer-2_64.png');
	background-repeat: no-repeat;
}



.fbr-icon-computer-4 {
	background-image: url('png/computer-4.png');
	background-repeat: no-repeat;
}



.fbr-icon-computer-4_64 {
	background-image: url('png/computer-4_64.png');
	background-repeat: no-repeat;
}



.fbr-icon-computer-9 {
	background-image: url('png/computer-9.png');
	background-repeat: no-repeat;
}



.fbr-icon-computer-9_64 {
	background-image: url('png/computer-9_64.png');
	background-repeat: no-repeat;
}



.fbr-icon-dribbble {
	background-image: url('png/dribbble.png');
	background-repeat: no-repeat;
}



.fbr-icon-facebook {
	background-image: url('png/facebook.png');
	background-repeat: no-repeat;
}


.fbr-icon-flag-de {
	background-image: url('png/flag-de.png');
	background-repeat: no-repeat;
}



.fbr-icon-flag-en {
	background-image: url('png/flag-en.png');
	background-repeat: no-repeat;
}



.fbruk-icon-flag-fr {
	background-image: url('png/flag-fr.png');
	background-repeat: no-repeat;
}



.fbr-icon-flag-ro {
	background-image: url('png/flag-ro.png');
	background-repeat: no-repeat;
}


.fbr-icon-flickr {
	background-image: url('png/flickr.png');
	background-repeat: no-repeat;
}



.fbr-icon-foursquare {
	background-image: url('png/foursquare.png');
	background-repeat: no-repeat;
}



.fbr-icon-github {
	background-image: url('png/github.png');
	background-repeat: no-repeat;
}



.fbr-icon-google-plus {
	background-image: url('png/google-plus.png');
	background-repeat: no-repeat;
}



.fbr-icon-google {
	background-image: url('png/google.png');
	background-repeat: no-repeat;
}



.fbr-icon-graphic {
	background-image: url('png/graphic.png');
	background-repeat: no-repeat;
}



.fbr-icon-graphic_64 {
	background-image: url('png/graphic_64.png');
	background-repeat: no-repeat;
}



.fbr-icon-idea {
	background-image: url('png/idea.png');
	background-repeat: no-repeat;
}



.fbr-icon-idea_64 {
	background-image: url('png/idea_64.png');
	background-repeat: no-repeat;
}



.fbr-icon-interface-1 {
	background-image: url('png/interface-1.png');
	background-repeat: no-repeat;
}



.fbr-icon-interface-1_64 {
	background-image: url('png/interface-1_64.png');
	background-repeat: no-repeat;
}



.fbr-icon-interface-2 {
	background-image: url('png/interface-2.png');
	background-repeat: no-repeat;
}



.fbr-icon-interface-2_64 {
	background-image: url('png/interface-2_64.png');
	background-repeat: no-repeat;
}



.fbr-icon-internet {
	background-image: url('png/internet.png');
	background-repeat: no-repeat;
}



.fbr-icon-internet_64 {
	background-image: url('png/internet_64.png');
	background-repeat: no-repeat;
}



.fbr-icon-megaphone {
	background-image: url('png/megaphone.png');
	background-repeat: no-repeat;
}



.fbr-icon-megaphone_64 {
	background-image: url('png/megaphone_64.png');
	background-repeat: no-repeat;
}



.fbr-icon-networking-1 {
	background-image: url('png/networking-1.png');
	background-repeat: no-repeat;
}



.fbr-icon-networking-1_64 {
	background-image: url('png/networking-1_64.png');
	background-repeat: no-repeat;
}



.fbr-icon-networking-2 {
	background-image: url('png/networking-2.png');
	background-repeat: no-repeat;
}



.fbr-icon-networking-2_64 {
	background-image: url('png/networking-2_64.png');
	background-repeat: no-repeat;
}



.fbr-icon-networking-3 {
	background-image: url('png/networking-3.png');
	background-repeat: no-repeat;
}



.fbr-icon-networking-3_64 {
	background-image: url('png/networking-3_64.png');
	background-repeat: no-repeat;
}



.fbr-icon-photo-1 {
	background-image: url('png/photo-1.png');
	background-repeat: no-repeat;
}



.fbr-icon-photo-1_64 {
	background-image: url('png/photo-1_64.png');
	background-repeat: no-repeat;
}



.fbr-icon-pinterest {
	background-image: url('png/pinterest.png');
	background-repeat: no-repeat;
}



.fbr-icon-profits {
	background-image: url('png/profits.png');
	background-repeat: no-repeat;
}



.fbr-icon-profits_64 {
	background-image: url('png/profits_64.png');
	background-repeat: no-repeat;
}



.fbr-icon-puzzle {
	background-image: url('png/puzzle.png');
	background-repeat: no-repeat;
}



.fbr-icon-puzzle_64 {
	background-image: url('png/puzzle_64.png');
	background-repeat: no-repeat;
}



.fbr-icon-skype {
	background-image: url('png/skype.png');
	background-repeat: no-repeat;
}



.fbr-icon-social {
	background-image: url('png/social.png');
	background-repeat: no-repeat;
}



.fbr-icon-social_64 {
	background-image: url('png/social_64.png');
	background-repeat: no-repeat;
}



.fbr-icon-soundcloud {
	background-image: url('png/soundcloud.png');
	background-repeat: no-repeat;
}



.fbr-icon-stairs {
	background-image: url('png/stairs.png');
	background-repeat: no-repeat;
}



.fbr-icon-stairs_64 {
	background-image: url('png/stairs_64.png');
	background-repeat: no-repeat;
}



.fbr-icon-startup {
	background-image: url('png/startup.png');
	background-repeat: no-repeat;
}



.fbr-icon-startup_64 {
	background-image: url('png/startup_64.png');
	background-repeat: no-repeat;
}



.fbr-icon-team {
	background-image: url('png/team.png');
	background-repeat: no-repeat;
}



.fbr-icon-team_64 {
	background-image: url('png/team_64.png');
	background-repeat: no-repeat;
}



.fbr-icon-teamwork {
	background-image: url('png/teamwork.png');
	background-repeat: no-repeat;
}



.fbr-icon-teamwork_64 {
	background-image: url('png/teamwork_64.png');
	background-repeat: no-repeat;
}



.fbr-icon-technology-1_64 {
	background-image: url('png/technology-1_64.png');
	background-repeat: no-repeat;
}



.fbr-icon-technology-2 {
	background-image: url('png/technology-2.png');
	background-repeat: no-repeat;
}



.fbr-icon-technology-2_64 {
	background-image: url('png/technology-2_64.png');
	background-repeat: no-repeat;
}



.fbr-icon-technology-3 {
	background-image: url('png/technology-3.png');
	background-repeat: no-repeat;
}



.fbr-icon-technology-3_64 {
	background-image: url('png/technology-3_64.png');
	background-repeat: no-repeat;
}



.fbr-icon-technology-4 {
	background-image: url('png/technology-4.png');
	background-repeat: no-repeat;
}



.fbr-icon-technology-4_64 {
	background-image: url('png/technology-4_64.png');
	background-repeat: no-repeat;
}



.fbr-icon-technology-5 {
	background-image: url('png/technology-5.png');
	background-repeat: no-repeat;
}



.fbr-icon-technology-5_64 {
	background-image: url('png/technology-5_64.png');
	background-repeat: no-repeat;
}



.fbr-icon-technology-6 {
	background-image: url('png/technology-6.png');
	background-repeat: no-repeat;
}



.fbr-icon-technology-6_64 {
	background-image: url('png/technology-6_64.png');
	background-repeat: no-repeat;
}



.fbr-icon-technology {
	background-image: url('png/technology.png');
	background-repeat: no-repeat;
}



.fbr-icon-twitter {
	background-image: url('png/twitter.png');
	background-repeat: no-repeat;
}



.fbr-icon-vimeo {
	background-image: url('png/vimeo.png');
	background-repeat: no-repeat;
}



.fbr-icon-whatsapp {
	background-image: url('png/whatsapp.png');
	background-repeat: no-repeat;
}



.fbr-icon-xing {
	background-image: url('png/xing.png');
	background-repeat: no-repeat;
}



.fbr-icon-youtube {
	background-image: url('png/youtube.png');
	background-repeat: no-repeat;
}

.fbr-icon-box {
	background-image: url('png/box.png');
	background-repeat: no-repeat;
}



.fbr-icon-creative-market {
	background-image: url('png/creative-market.png');
	background-repeat: no-repeat;
}



.fbr-icon-dropbox {
	background-image: url('png/dropbox.png');
	background-repeat: no-repeat;
}


.fbr-icon-file-doc {
	background-image: url('png/file-doc.png');
	background-repeat: no-repeat;
}



.fbr-icon-file-html-5 {
	background-image: url('png/file-html-5.png');
	background-repeat: no-repeat;
}



.fbr-icon-file-html {
	background-image: url('png/file-html.png');
	background-repeat: no-repeat;
}



.fbr-icon-file-jpg {
	background-image: url('png/file-jpg.png');
	background-repeat: no-repeat;
}



.fbr-icon-file-mp3 {
	background-image: url('png/file-mp3.png');
	background-repeat: no-repeat;
}



.fbr-icon-file-mp4 {
	background-image: url('png/file-mp4.png');
	background-repeat: no-repeat;
}



.fbr-icon-file-pdf {
	background-image: url('png/file-pdf.png');
	background-repeat: no-repeat;
}



.fbr-icon-file-ppt {
	background-image: url('png/file-ppt.png');
	background-repeat: no-repeat;
}



.fbr-icon-file-txt {
	background-image: url('png/file-txt.png');
	background-repeat: no-repeat;
}



.fbr-icon-file-xls {
	background-image: url('png/file-xls.png');
	background-repeat: no-repeat;
}



.fbr-icon-file-zip {
	background-image: url('png/file-zip.png');
	background-repeat: no-repeat;
}



.fbr-icon-flickr {
	background-image: url('png/flickr.png');
	background-repeat: no-repeat;
}



.fbr-icon-google-calendar {
	background-image: url('png/google-calendar.png');
	background-repeat: no-repeat;
}



.fbr-icon-google-drive {
	background-image: url('png/google-drive.png');
	background-repeat: no-repeat;
}



.fbr-icon-google-gmail {
	background-image: url('png/google-gmail.png');
	background-repeat: no-repeat;
}



.fbr-icon-google-maps {
	background-image: url('png/google-maps.png');
	background-repeat: no-repeat;
}



.fbr-icon-google-plus {
	background-image: url('png/google-plus.png');
	background-repeat: no-repeat;
}



.fbr-icon-instagram {
	background-image: url('png/instagram.png');
	background-repeat: no-repeat;
}

.fbr-icon-instagram {
	background-image: url('png/instagram.png');
	background-repeat: no-repeat;
}

.fbr-icon-location {
	background-image: url('png/location.png');
	background-repeat: no-repeat;
}



.fbr-icon-maps-and-flags {
	background-image: url('png/maps-and-flags.png');
	background-repeat: no-repeat;
}



.fbr-icon-path {
	background-image: url('png/path.png');
	background-repeat: no-repeat;
}



.fbr-icon-paypal {
	background-image: url('png/paypal.png');
	background-repeat: no-repeat;
}



.fbr-icon-percentage {
	background-image: url('png/percentage.png');
	background-repeat: no-repeat;
}



.fbr-icon-photoshop {
	background-image: url('png/photoshop.png');
	background-repeat: no-repeat;
}



.fbr-icon-quality {
	background-image: url('png/quality.png');
	background-repeat: no-repeat;
}



.fbr-icon-signs {
	background-image: url('png/signs.png');
	background-repeat: no-repeat;
}



.fbr-icon-twitter {
	background-image: url('png/twitter.png');
	background-repeat: no-repeat;
}



.fbr-icon-wikipedia {
	background-image: url('png/wikipedia.png');
	background-repeat: no-repeat;
}



.fbr-icon-worldwide {
	background-image: url('png/worldwide.png');
	background-repeat: no-repeat;
}
