/*FBR*/
/*FBR*/
/*
@headline-color: #00453C;
@headline-1: @headline-color;
@headline-2: lighten(@headline-color, 4%);
@headline-3: lighten(@headline-color, 7%);
@headline-4: lighten(@headline-color, 10%);
@headline-5: lighten(@headline-color, 13%);
@headline-6: lighten(@headline-color, 16%);
*/
/* FBR */
/* Manually forked from Normalize.css */
/* normalize.css v5.0.0 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Correct the line height in all browsers.
 * 3. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
/* Document
   ========================================================================== */
html {
  font-family: sans-serif;
  /* 1 */
  line-height: 1.25;
  /* 3 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 3 */
}
/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0;
}
/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block;
}
/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  margin: .67em 0;
}
/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
figcaption,
figure,
main {
  /* 1 */
  display: block;
}
/**
 * Add the correct margin in IE 8 (removed).
 */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}
/**
 * 1. Correct the inheritance and scaling of font size in all browsers. (removed)
 * 2. Correct the odd `em` font sizing in all browsers.
 */
/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
}
/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */
a:active,
a:hover {
  outline-width: 0;
}
/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari. (removed)
 */
/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit;
}
/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}
/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic;
}
/**
 * Add the correct background and color in IE 9-. (Removed)
 */
/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}
/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -.25em;
}
sup {
  top: -.5em;
}
/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block;
}
/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}
/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none;
}
/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden;
}
/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 (changed) */
  font-size: inherit;
  /* 1 (changed) */
  line-height: inherit;
  /* 1 (changed) */
  margin: 0;
  /* 2 */
}
/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}
/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}
/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
}
/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
/**
 * Restore the focus styles unset by the previous rule (removed).
 */
/**
 * Change the border, margin, and padding in all browsers (opinionated) (changed).
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}
/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}
/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto;
}
/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}
/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}
/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}
/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
details,
menu {
  display: block;
}
/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}
/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block;
}
/**
 * Add the correct display in IE.
 */
template {
  display: none;
}
/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
  font-size: 12px;
  line-height: 1.25;
  -webkit-tap-highlight-color: transparent;
}
body {
  background: #fdfdfd;
  color: #3f583a;
  font-family: Verdana, "DejaVu Sans", "Bitstream Vera Sans", "DejaVu LGC Sans", Geneva, sans-serif, "Helvetica Neue", HelveticaNeue, "TeX Gyre Heros", TeXGyreHeros, FreeSans, "Nimbus Sans L", "Liberation Sans", Arimo, Helvetica, Arial, sans-serif;
  font-size: 1.25rem;
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
}
a {
  color: #0c367d;
  outline: none;
  text-decoration: none;
}
a:focus {
  box-shadow: 0 0 0 .2rem rgba(0, 118, 102, .15);
}
a:focus,
a:hover,
a:active,
a.active {
  color: #08224e;
  text-decoration: underline;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Georgia, "Bitstream Charter", "Charis SIL", Utopia, "URW Bookman L", serif;
  margin-bottom: 1.25rem;
  margin-top: 0;
}
h1 {
  color: #0a1931;
}
h2 {
  color: #0c367d;
}
h3 {
  color: #bc7900;
}
h4 {
  color: #b60011;
}
h5 {
  color: #1b9d00;
}
h6 {
  color: #6e2e00;
}
p {
  line-height: 2.25rem;
  margin: 0 0 1rem;
}
@media screen and (min-width: 841px) {
  h1 {
    font-size: 2.5rem;
  }
  h2 {
    font-size: 2.25rem;
  }
  h3 {
    font-size: 2rem;
  }
  h4 {
    font-size: 1.75rem;
  }
  h5 {
    font-size: 1.5rem;
  }
  h6 {
    font-size: 1.25rem;
  }
}
@media screen and (max-width: 840px) {
  h1 {
    font-size: 1.75rem;
  }
  h2 {
    font-size: 1.583333333rem;
  }
  h3 {
    font-size: 1.5rem;
  }
  h4 {
    font-size: 1.416666667rem;
  }
  h5 {
    font-size: 1.25rem;
  }
  h6 {
    font-size: 1.166666667rem;
  }
  p {
    line-height: 2rem;
    margin: 0 0 1rem;
  }
}
a,
ins,
u {
  -webkit-text-decoration-skip: ink edges;
  text-decoration-skip: ink edges;
}
blockquote {
  border-left: .2rem solid #dee8dc;
  margin-left: 0;
  padding: 1rem 1.25rem;
}
blockquote p:last-child {
  margin-bottom: 0;
}
blockquote cite {
  color: #96b68f;
}
ul,
ol {
  margin: 2rem 0 2rem 1rem;
  padding: 0;
}
ul ul,
ol ul,
ul ol,
ol ol {
  margin: 1.5rem 0 1.5rem 1rem;
}
ul li,
ol li {
  margin-top: 1rem;
}
ul {
  list-style: disc inside;
}
ul ul {
  list-style-type: circle;
}
ol {
  list-style: decimal inside;
}
ol ol {
  list-style-type: lower-alpha;
}
dl dt {
  font-weight: bold;
}
dl dd {
  margin: .5rem 0 1.5rem 0;
}
mark {
  background: #ffd293;
  border-radius: .2rem;
  color: #3f583a;
  display: inline-block;
  line-height: 1;
  padding: .3rem .4rem;
  vertical-align: baseline;
}
kbd {
  background: #344930;
  border-radius: .2rem;
  color: #fdfdfd;
  display: inline-block;
  line-height: 1;
  padding: .3rem .4rem;
  vertical-align: baseline;
}
abbr[title] {
  border-bottom: .1rem dotted;
  cursor: help;
  text-decoration: none;
}
@media screen and (min-width: 841px) {
  .btn {
    font-size: 1.25rem;
    /*height: 2.75rem;*/
    line-height: 2.25rem;
    outline: none;
    padding: .25rem 1rem;
  }
  .btn.btn-sm {
    font-size: 1rem;
    /*height: 2.166666667rem;*/
    line-height: 1.5rem;
    padding: .25rem .75rem;
  }
  .btn.btn-lg {
    font-size: 1.75rem;
    /*  height: 3,333333333rem;*/
    line-height: 2.5rem;
    padding: .5rem 1.25rem;
  }
}
@media screen and (max-width: 840px), screen and (max-height: 600px) {
  .btn {
    font-size: 1rem;
    /*height: 2.5rem;*/
    line-height: 1.75rem;
    outline: none;
    padding: .25rem .5rem;
  }
  .btn.btn-sm {
    font-size: .83333333rem;
    /*height: 2.166666667rem;*/
    line-height: 1.5rem;
    padding: .25rem .25rem;
  }
  .btn.btn-lg {
    font-size: 1.25rem;
    /*  height: 3,333333333rem;*/
    line-height: 2.25rem;
    padding: .5rem .75rem;
  }
}
.btn {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #fdfdfd;
  border: .1rem solid #007666;
  border-radius: .2rem;
  color: #0c367d;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  transition: all .2s ease;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}
.btn:focus {
  background: #5dffe9;
  box-shadow: 0 0 0 .2rem rgba(0, 118, 102, .15);
  text-decoration: none;
}
.btn:hover {
  background: #007666;
  border-color: #005d50;
  color: #fdfdfd;
  text-decoration: none;
}
.btn:active,
.btn.active {
  background: #005d50;
  border-color: #00433a;
  color: #fdfdfd;
  text-decoration: none;
}
.btn[disabled],
.btn:disabled,
.btn.disabled {
  cursor: default;
  opacity: .5;
  pointer-events: none;
}
.btn.btn-primary {
  background: #007666;
  border-color: #005d50;
  color: #fdfdfd;
}
.btn.btn-primary:focus,
.btn.btn-primary:hover {
  background: #005247;
  border-color: #00433a;
  color: #fdfdfd;
}
.btn.btn-primary:active,
.btn.btn-primary.active {
  background: #00483e;
  border-color: #003931;
  color: #fdfdfd;
}
.btn.btn-primary.loading::after {
  border-bottom-color: #fdfdfd;
  border-left-color: #fdfdfd;
}
.btn.btn-link {
  background: transparent;
  border-color: transparent;
  color: #0c367d;
}
.btn.btn-link:focus,
.btn.btn-link:hover,
.btn.btn-link:active,
.btn.btn-link.active {
  color: #08224e;
}
.btn.btn-block {
  display: block;
  width: 100%;
}
.btn.btn-action {
  padding-left: 0;
  padding-right: 0;
}
.btn.btn-clear {
  background: transparent;
  border: 0;
  color: currentColor;
  height: 1.6rem;
  line-height: 1.6rem;
  margin-left: .4rem;
  margin-right: -.2rem;
  opacity: .45;
  padding: 0 .2rem;
  text-decoration: none;
  width: 1.6rem;
}
.btn.btn-clear:hover {
  opacity: .85;
}
.btn.btn-clear::before {
  content: "\2715";
}
.btn-group {
  display: inline-flex;
  display: -ms-inline-flexbox;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.btn-group .btn {
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
}
.btn-group .btn:first-child:not(:last-child) {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}
.btn-group .btn:not(:first-child):not(:last-child) {
  border-radius: 0;
  margin-left: -.1rem;
}
.btn-group .btn:last-child:not(:first-child) {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  margin-left: -.1rem;
}
.btn-group .btn:focus,
.btn-group .btn:hover,
.btn-group .btn:active,
.btn-group .btn.active {
  z-index: 1;
}
.btn-group.btn-group-block {
  display: flex;
  display: -ms-flexbox;
}
.btn-group.btn-group-block .btn {
  -ms-flex: 1 0 0;
  flex: 1 0 0;
}
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 100%;
}
.container.grid-1280 {
  max-width: 107rem;
}
.container.grid-960 {
  max-width: 80rem;
}
.container.grid-480 {
  max-width: 40rem;
}
.columns {
  display: flex;
  display: -ms-flexbox;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -1rem;
  margin-right: -1rem;
}
.columns.col-gapless {
  margin-left: 0;
  margin-right: 0;
}
.columns.col-gapless .column {
  padding-left: 0;
  padding-right: 0;
}
.columns.col-nomanopa {
  margin: 0;
}
.columns.col-nomanopa .column {
  padding: 0;
}
.columns.col-oneline {
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  overflow-x: auto;
}
.column {
  -ms-flex: 1;
  flex: 1;
  max-width: 100%;
  padding: 1rem;
}
.column.col-12,
.column.col-11,
.column.col-10,
.column.col-9,
.column.col-8,
.column.col-7,
.column.col-6,
.column.col-5,
.column.col-4,
.column.col-3,
.column.col-2,
.column.col-1 {
  -ms-flex: none;
  flex: none;
}
.col-12 {
  width: 100%;
}
.col-11 {
  width: 91.66666667%;
}
.col-10 {
  width: 83.33333333%;
}
.col-9 {
  width: 75%;
}
.col-8 {
  width: 66.66666667%;
}
.col-7 {
  width: 58.33333333%;
}
.col-6 {
  width: 50%;
}
.col-5 {
  width: 41.66666667%;
}
.col-4 {
  width: 33.33333333%;
}
.col-3 {
  width: 25%;
}
.col-2 {
  width: 16.66666667%;
}
.col-1 {
  width: 8.33333333%;
}
/*FBR 2x*/
@media screen and (max-width: 1440px) {
  .col-2x-12,
  .col-2x-11,
  .col-2x-10,
  .col-2x-9,
  .col-2x-8,
  .col-2x-7,
  .col-2x-6,
  .col-2x-5,
  .col-2x-4,
  .col-2x-3,
  .col-2x-2,
  .col-2x-1 {
    -ms-flex: none;
    flex: none;
  }
  .col-2x-12 {
    width: 100%;
  }
  .col-2x-11 {
    width: 91.66666667%;
  }
  .col-2x-10 {
    width: 83.33333333%;
  }
  .col-2x-9 {
    width: 75%;
  }
  .col-2x-8 {
    width: 66.66666667%;
  }
  .col-2x-7 {
    width: 58.33333333%;
  }
  .col-2x-6 {
    width: 50%;
  }
  .col-2x-5 {
    width: 41.66666667%;
  }
  .col-2x-4 {
    width: 33.33333333%;
  }
  .col-2x-3 {
    width: 25%;
  }
  .col-2x-2 {
    width: 16.66666667%;
  }
  .col-2x-1 {
    width: 8.33333333%;
  }
}
@media screen and (max-width: 1280px) {
  .col-xl-12,
  .col-xl-11,
  .col-xl-10,
  .col-xl-9,
  .col-xl-8,
  .col-xl-7,
  .col-xl-6,
  .col-xl-5,
  .col-xl-4,
  .col-xl-3,
  .col-xl-2,
  .col-xl-1 {
    -ms-flex: none;
    flex: none;
  }
  .col-xl-12 {
    width: 100%;
  }
  .col-xl-11 {
    width: 91.66666667%;
  }
  .col-xl-10 {
    width: 83.33333333%;
  }
  .col-xl-9 {
    width: 75%;
  }
  .col-xl-8 {
    width: 66.66666667%;
  }
  .col-xl-7 {
    width: 58.33333333%;
  }
  .col-xl-6 {
    width: 50%;
  }
  .col-xl-5 {
    width: 41.66666667%;
  }
  .col-xl-4 {
    width: 33.33333333%;
  }
  .col-xl-3 {
    width: 25%;
  }
  .col-xl-2 {
    width: 16.66666667%;
  }
  .col-xl-1 {
    width: 8.33333333%;
  }
}
@media screen and (max-width: 960px) {
  .col-lg-12,
  .col-lg-11,
  .col-lg-10,
  .col-lg-9,
  .col-lg-8,
  .col-lg-7,
  .col-lg-6,
  .col-lg-5,
  .col-lg-4,
  .col-lg-3,
  .col-lg-2,
  .col-lg-1 {
    -ms-flex: none;
    flex: none;
  }
  .col-lg-12 {
    width: 100%;
  }
  .col-lg-11 {
    width: 91.66666667%;
  }
  .col-lg-10 {
    width: 83.33333333%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-8 {
    width: 66.66666667%;
  }
  .col-lg-7 {
    width: 58.33333333%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-5 {
    width: 41.66666667%;
  }
  .col-lg-4 {
    width: 33.33333333%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-2 {
    width: 16.66666667%;
  }
  .col-lg-1 {
    width: 8.33333333%;
  }
}
@media screen and (max-width: 840px) {
  .col-md-12,
  .col-md-11,
  .col-md-10,
  .col-md-9,
  .col-md-8,
  .col-md-7,
  .col-md-6,
  .col-md-5,
  .col-md-4,
  .col-md-3,
  .col-md-2,
  .col-md-1 {
    -ms-flex: none;
    flex: none;
  }
  .col-md-12 {
    width: 100%;
  }
  .col-md-11 {
    width: 91.66666667%;
  }
  .col-md-10 {
    width: 83.33333333%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-8 {
    width: 66.66666667%;
  }
  .col-md-7 {
    width: 58.33333333%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-5 {
    width: 41.66666667%;
  }
  .col-md-4 {
    width: 33.33333333%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-2 {
    width: 16.66666667%;
  }
  .col-md-1 {
    width: 8.33333333%;
  }
}
@media screen and (max-width: 600px) {
  .col-sm-12,
  .col-sm-11,
  .col-sm-10,
  .col-sm-9,
  .col-sm-8,
  .col-sm-7,
  .col-sm-6,
  .col-sm-5,
  .col-sm-4,
  .col-sm-3,
  .col-sm-2,
  .col-sm-1 {
    -ms-flex: none;
    flex: none;
  }
  .col-sm-12 {
    width: 100%;
  }
  .col-sm-11 {
    width: 91.66666667%;
  }
  .col-sm-10 {
    width: 83.33333333%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-8 {
    width: 66.66666667%;
  }
  .col-sm-7 {
    width: 58.33333333%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-5 {
    width: 41.66666667%;
  }
  .col-sm-4 {
    width: 33.33333333%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-2 {
    width: 16.66666667%;
  }
  .col-sm-1 {
    width: 8.33333333%;
  }
}
@media screen and (max-width: 480px) {
  .col-xs-12,
  .col-xs-11,
  .col-xs-10,
  .col-xs-9,
  .col-xs-8,
  .col-xs-7,
  .col-xs-6,
  .col-xs-5,
  .col-xs-4,
  .col-xs-3,
  .col-xs-2,
  .col-xs-1 {
    -ms-flex: none;
    flex: none;
  }
  .col-xs-12 {
    width: 100%;
  }
  .col-xs-11 {
    width: 91.66666667%;
  }
  .col-xs-10 {
    width: 83.33333333%;
  }
  .col-xs-9 {
    width: 75%;
  }
  .col-xs-8 {
    width: 66.66666667%;
  }
  .col-xs-7 {
    width: 58.33333333%;
  }
  .col-xs-6 {
    width: 50%;
  }
  .col-xs-5 {
    width: 41.66666667%;
  }
  .col-xs-4 {
    width: 33.33333333%;
  }
  .col-xs-3 {
    width: 25%;
  }
  .col-xs-2 {
    width: 16.66666667%;
  }
  .col-xs-1 {
    width: 8.33333333%;
  }
}
.show-xs,
.show-sm,
.show-md,
.show-lg,
.show-xl {
  display: none !important;
}
@media screen and (max-width: 480px) {
  .hide-xs {
    display: none !important;
  }
  .show-xs {
    display: block !important;
  }
}
@media screen and (max-width: 600px) {
  .hide-sm {
    display: none !important;
  }
  .show-sm {
    display: block !important;
  }
}
@media screen and (max-width: 840px) {
  .hide-md {
    display: none !important;
  }
  .show-md {
    display: block !important;
  }
}
@media screen and (max-width: 960px) {
  .hide-lg {
    display: none !important;
  }
  .show-lg {
    display: block !important;
  }
}
@media screen and (max-width: 1280px) {
  .hide-xl {
    display: none !important;
  }
  .show-xl {
    display: block !important;
  }
}
.navbar {
  align-items: stretch;
  display: flex;
  display: -ms-flexbox;
  -ms-flex-align: stretch;
  -ms-flex-pack: justify;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: space-between;
}
.navbar .navbar-section {
  align-items: center;
  display: flex;
  display: -ms-flexbox;
  -ms-flex: 1 0 0;
  flex: 1 0 0;
  -ms-flex-align: center;
}
.navbar .navbar-section:last-child {
  -ms-flex-pack: end;
  justify-content: flex-end;
}
.navbar .navbar-center {
  align-items: center;
  display: flex;
  display: -ms-flexbox;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  -ms-flex-align: center;
}
.navbar .navbar-brand {
  font-size: 1.75rem;
  font-weight: 500;
  text-decoration: none;
}
/*! Spectre.css Docs | MIT License | github.com/picturepan2/spectre */
/* Spectre version */
.version::after {
  content: "0.2.14";
}
/* Spectre docs style */
.bg-lighten {
  background-color: #fdfdfd;
  color: #4e6e48;
}
.bg-gray {
  background: #e1eadf;
  color: #4e6e48;
}
.bg-dark {
  background: #3f583a;
  color: #fdfdfd;
}
.bg-primary {
  background: #007666;
  color: #fdfdfd;
}
.section-header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 400;
}
.section-hero {
  background-attachment: fixed;
  /* FBR background image */
  background-position: center top;
  background-repeat: no-repeat;
  position: relative;
  z-index: 300;
}
.grid-header .navbar {
  height: 4rem;
}
.grid-header .navbar-section {
  padding: 0;
}
.grid-header .navbar-brand {
  color: #3f583a;
}
.grid-header .navbar-brand::after {
  background: #193651;
  content: "";
  display: block;
  height: 2px;
  transition: width .3s;
  width: 0;
}
.grid-header .navbar-brand:hover::after {
  width: 100%;
}
.grid-header .btn-link {
  color: #55774e;
  padding-right: .6rem;
}
.grid-header .btn-link:focus,
.grid-header .btn-link:hover,
.grid-header .btn-link:active {
  color: #3f583a;
  opacity: .75;
}
.grid-hero {
  margin-top: 5.5rem;
  padding-top: 1rem;
}
.grid-hero h1 {
  color: #005d50;
}
.grid-hero h2 {
  color: #4e6e48;
  margin-bottom: 3rem;
}
.grid-hero h2 u {
  border-bottom: .2rem solid currentColor;
  padding-bottom: .1rem;
  text-decoration: none;
}
.grid-hero h3 {
  color: #00907c;
}
.grid-hero h4 {
  color: #3f583a;
}
.grid-hero h5 {
  color: #3f583a;
}
.grid-hero h6 {
  color: #3f583a;
}
.grid-hero .card {
  background: none;
  border: 0;
  color: #4e6e48;
  height: 100%;
  /*FBR*/
  min-height: 100%;
  padding: 1rem;
}
.grid-hero .card .card-title {
  color: #007666;
  font-size: 1.8rem;
  margin-bottom: 0;
}
.grid-footer {
  color: #96b68f;
  margin-bottom: 1rem;
  margin-top: 2rem;
}
.grid-footer a {
  color: #608758;
}
.docs-content {
  padding-top: 0;
}
.docs-content .container {
  padding: 1rem;
}
.docs-content header {
  padding-top: 2rem;
}
.docs-content .anchor {
  height: 0;
  margin-left: -1em;
  overflow: hidden;
  position: absolute;
  width: 0;
}
.docs-content .anchor:focus,
.docs-content .anchor:hover {
  height: auto;
  text-decoration: none;
  width: auto;
}
.docs-content .notes {
  margin: 4rem 0;
}
.docs-content .docs-block {
  border-radius: .2rem;
  padding: 1rem .5rem;
}
.docs-content .docs-dot {
  border-radius: 50%;
  display: inline-block;
  height: 1rem;
  padding: 0;
  width: 1rem;
}
.docs-content .docs-table th,
.docs-content .docs-table td {
  padding: 1.5rem .5rem;
}
.docs-content h1,
.docs-content h2,
.docs-content h3,
.docs-content h4,
.docs-content h5,
.docs-content h6 {
  margin-bottom: 1.5rem;
  margin-top: 2rem;
}
.docs-content h1:hover .anchor,
.docs-content h2:hover .anchor,
.docs-content h3:hover .anchor,
.docs-content h4:hover .anchor,
.docs-content h5:hover .anchor,
.docs-content h6:hover .anchor {
  height: auto;
  width: auto;
}
.docs-content h1 u,
.docs-content h2 u,
.docs-content h3 u,
.docs-content h4 u,
.docs-content h5 u,
.docs-content h6 u {
  padding-bottom: .1rem;
  text-decoration: none;
}
.docs-content .docs-color {
  border-radius: .2rem;
  margin: .5rem 0;
  padding: 1rem;
}
.docs-content .docs-color .color-subtitle {
  font-size: 1rem;
  opacity: .75;
}
.docs-content .panel {
  height: 75vh;
}
.docs-content .panel .tile {
  margin: 1.5rem 0;
}
.docs-content .code {
  color: #55774e;
}
.docs-content .code .com {
  color: #96b68f;
}
.docs-content .code .tag {
  color: #007666;
}
.docs-content .code .atn {
  color: #55774e;
}
.docs-content .code .atv {
  color: #e06870;
}
.docs-content .form-autocomplete .menu {
  position: static;
}
.docs-content .example-tile-icon {
  align-content: space-around;
  align-items: center;
  background: #007666;
  border-radius: .2rem;
  color: #fdfdfd;
  display: flex;
  display: -ms-flexbox;
  -ms-flex-align: center;
  -ms-flex-line-pack: distribute;
  font-size: 2.4rem;
  height: 4rem;
  width: 4rem;
}
.docs-content .example-tile-icon .icon {
  margin: auto;
}
.docs-content .comparison-slider .filter-grayscale {
  -webkit-filter: grayscale(75%);
  filter: grayscale(75%);
}
@media screen and (min-width: 841px) {
  .section-header {
    padding: .75rem .5rem;
  }
  .section-header .navbar-section {
    padding: 0 .5rem;
  }
  .docs-sidebar {
    padding: 1rem .75rem 4.25rem .5rem;
  }
  .docs-sidebar .docs-nav {
    position: relative;
  }
  @supports ((position: -webkit-sticky) or (position: sticky)) {
    .docs-sidebar .docs-nav {
      position: sticky;
      position: -webkit-sticky;
      top: 3rem;
    }
    .docs-sidebar .docs-nav .nav-item a:focus {
      box-shadow: none;
    }
  }
}
.docs-nav-clear {
  display: none;
}
@media screen and (max-width: 840px), screen and (max-height: 600px) {
  .section-header {
    padding: 0;
  }
  .grid-hero {
    margin-bottom: 2.5rem;
    margin-top: 4rem;
  }
  .grid-hero .card {
    font-size: 1.25rem;
    padding: 0;
  }
  .grid-hero .card .card-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0;
  }
  .docs-sidebar {
    background: #fdfdfd;
    height: 100%;
    left: 0;
    margin-top: 4rem;
    /*FBR, let the top menu to be visible under the side menu*/
    padding: 1rem .75rem 4.25rem .5rem;
    position: fixed;
    top: 0;
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
    transition: transform .2s ease;
    width: 22rem;
    z-index: 400;
  }
  .docs-sidebar:target {
    -ms-transform: translateX(0);
    transform: translateX(0);
    transition: transform .2s ease;
  }
  .docs-sidebar:target + .docs-nav-clear {
    display: block;
  }
  .docs-sidebar .docs-nav {
    height: 100%;
    overflow-y: auto;
    /*FBR */
  }
  .docs-nav-clear {
    background: rgba(0, 0, 0, .15);
    display: none;
    height: 100%;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 300;
  }
  /* FBR */
  .docs-content {
    padding-top: 0;
  }
  .docs-content .container {
    padding: .5rem;
  }
  .docs-content header {
    padding-top: 1rem;
  }
  .docs-content .notes {
    margin: 1rem 0 .5rem 0;
  }
  .docs-content .docs-block {
    border-radius: .2rem;
    padding: 1rem .5rem;
  }
  .docs-content .docs-dot {
    height: 1rem;
    padding: 0;
    width: 1rem;
  }
  .docs-content .docs-table th,
  .docs-content .docs-table td {
    padding: .75rem .5rem;
  }
  .docs-content h1,
  .docs-content h2,
  .docs-content h3,
  .docs-content h4,
  .docs-content h5,
  .docs-content h6 {
    margin-bottom: 1rem;
    margin-top: 2rem;
  }
  .docs-content .docs-color {
    margin: .5rem 0;
    padding: 1rem;
  }
  .docs-content .panel {
    height: 75vh;
  }
  .docs-content .panel .tile {
    margin: .75rem 0;
  }
  .docs-content .form-autocomplete .menu {
    position: static;
  }
  .docs-content .example-tile-icon {
    align-content: space-around;
    align-items: center;
    border-radius: .2rem;
    display: flex;
    display: -ms-flexbox;
    -ms-flex-align: center;
    -ms-flex-line-pack: distribute;
    font-size: 1.4rem;
    height: 2rem;
    width: 2rem;
  }
  .docs-content .example-tile-icon .icon {
    margin: auto;
  }
}
/* FBR */
.box-shadow-card {
  box-shadow: 0 20px 20px 0 rgba(150, 182, 143, .8);
  box-sizing: border-box;
  transition: all .25s cubic-bezier(.02, .01, .47, 1);
}
.box-opacity {
  -khtml-opacity: .90;
  /*filter: alpha(opacity = 80);*/
  -moz-opacity: .90;
  opacity: .90;
}
.box-shadow-bottom {
  box-shadow: 0 5px 5px 0 rgba(150, 182, 143, .5);
}
.box-shadow-full {
  box-shadow: 0 0 5px 0 rgba(150, 182, 143, .5);
}
.navbar-brand .navbar-brand-font-1 {
  color: #bb5551;
}
.navbar-brand .navbar-brand-font-2 {
  color: #2999d2;
}
.navbar-brand .navbar-brand-font-3 {
  color: #eeb65d;
}
.navbar-brand .navbar-brand-logo {
  vertical-align: middle;
}
@media only screen and (min-width: 1281px) {
  /* for sumo sized (mac) screens */
  .section-hero {
    background-color: #00453c;
    background-image: url(assets/images/section-hero-xxl2.png);
  }
  .navbar .navbar-brand {
    font-size: 3rem;
    font-weight: 900;
  }
  .navbar .navbar-brand-logo {
    height: 3.5rem;
    width: 3.5rem;
  }
  .navbar .navbar-flag {
    height: 2rem;
    width: 2rem;
  }
  .card-title-icon {
    height: 10rem;
    width: 8rem;
  }
  .notes-icon {
    height: 18rem;
    width: 18rem;
  }
}
@media only screen and (max-width: 1280px) {
  .section-hero {
    background-color: #00453c;
    background-image: url(assets/images/section-hero-xl2.png);
  }
  .navbar .navbar-brand {
    font-size: 2.5rem;
    font-weight: 800;
  }
  .navbar .navbar-brand-logo {
    height: 3rem;
    width: 3rem;
  }
  .navbar .navbar-flag {
    height: 2rem;
    width: 2rem;
  }
  .card-title-icon {
    height: 6rem;
    width: 6rem;
  }
  .notes-icon {
    height: 16rem;
    width: 16rem;
  }
}
@media only screen and (max-width: 960px) {
  .section-hero {
    background-color: #00453c;
    background-image: url(assets/images/section-hero-lg2.png);
  }
  .navbar .navbar-brand {
    font-size: 2rem;
    font-weight: 800;
  }
  .navbar .navbar-brand-logo {
    height: 2.5rem;
    width: 2.5rem;
  }
  .navbar .navbar-flag {
    height: 1.75rem;
    width: 1.75rem;
  }
  .card-title-icon {
    height: 5rem;
    width: 5rem;
  }
  .notes-icon {
    height: 10rem;
    width: 10rem;
  }
}
@media only screen and (max-width: 840px) {
  .section-hero {
    background-color: #00453c;
    background-image: url(assets/images/section-hero-md2.png);
  }
  .navbar .navbar-brand {
    font-size: 1.75rem;
    font-weight: 700;
  }
  .navbar .navbar-brand-logo {
    height: 2.5rem;
    width: 2.5rem;
  }
  .navbar .navbar-flag {
    height: 1.75rem;
    width: 1.75rem;
  }
  .card-title-icon {
    height: 4rem;
    width: 4rem;
  }
  .notes-icon {
    height: 8rem;
    width: 8rem;
  }
}
@media only screen and (max-width: 600px) {
  .section-hero {
    background-color: #00453c;
    background-image: url(assets/images/section-hero-sm2.png);
  }
  .navbar .navbar-brand {
    font-size: 1.75rem;
    font-weight: 600;
  }
  .navbar .navbar-brand-logo {
    height: 2rem;
    width: 2rem;
  }
  .navbar .navbar-flag {
    height: 1.25rem;
    width: 1.25rem;
  }
  .card-title-icon {
    height: 5rem;
    width: 5rem;
  }
  .notes-icon {
    height: 10rem;
    width: 10rem;
  }
}
@media only screen and (max-width: 480px) {
  .section-hero {
    background-color: #00453c;
    background-image: url(assets/images/section-hero-xs2.png);
  }
  .navbar .navbar-brand {
    font-size: 1.25rem;
    font-weight: 600;
  }
  .navbar .navbar-brand-logo {
    height: 1.75rem;
    width: 1.75rem;
  }
  .navbar .navbar-flag {
    height: 1.25rem;
    width: 1.25rem;
  }
  .card-title-icon {
    height: 4rem;
    width: 4rem;
  }
  .notes-icon {
    height: 8rem;
    width: 8rem;
  }
}
/* @media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {
    }
    @media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
    } */
.atdomain::before {
  content: "\0040";
  /* Unicode character for @ symbol */
}