<div class="column col-4 col-xs-12">
  <div class="card box-shadow-card uk-animation-slide-left">
    <div class="card-header">
      <span class="card-title">Modern CMS</span>
    </div>
    <div class="card-body text-left">
      We enhanced the OctoberCMS to deliver :<br/>
      - a fast loading page with content loaded from the database or from flat-files<br/>
      - a backend UI, friendly, simple and powerfull<br/>
      - an on page SEO module<br/>
      - a extendable platform that will be addaptable for client's special request<br/>
      - multi language front/back-end
    </div>
  </div>
</div>
<div class="column col-4 col-xs-12">
  <div class="card box-shadow-card uk-animation-slide-left">
    <div class="card-header">
      <span class="card-title">Responsive, lightweight, and fresh UI</span>
    </div>
    <div class="card-body text-left">
      Based on the latest Spectre CSS framework, using the flexbox-based grids to deliver
      a responsive and mobile-friendly layout, backward compatible with older browsers (IE 9).
    </div>
  </div>
</div>
<div class="column col-4 col-xs-12">
  <div class="card box-shadow-card uk-animation-slide-left">
    <div class="card-header">
      <span class="card-title">ModernFitWeb</span>
    </div>
    <div class="card-body text-left">
      There are many solution available to build your site.<br/>
      It might be more then one suitable for your needs.<br/>
      Step out from the crowd and try to be different, welcome to ModernFitWeb.com!
    </div>
  </div>
</div>