title = "Page not found (404)"
url = "/404"
layout = "default"

[localePicker]
forceUrl = 0
==
<?php
function onInit()
{

  // get the language into locale
  $this->locale = $this->defaultLocale = Config::get('app.fallback_locale', false);
  // init. the translator
  use RainLab\Translate\Classes\Translator;
  use RainLab\Translate\Models\Message;
  use RainLab\Translate\Models;

  $this->translator = Translator::instance();
///var_dump ($this->translator);var_dump ($this->translator);
  if (!$this->translator->isConfigured()) {
      return;
  }

  if (!$this->translator->loadLocaleFromRequest()) {
      $this->translator->loadLocaleFromSession();
      return;
  }

  if (!$this->translator->getLocale()) {
      $this->translator->setLocale($this->translator->getDefaultLocale());
  }


  $this->locale = $this->translator->getLocale();
  $this->defaultLocale = $this->translator->getDefaultLocale();
}
?>
==
<div class="jumbotron">
    <div class="container">
        <h1>Page not found</h1>
        <p>We're sorry, but the page you requested cannot be found.</p>
    </div>
</div>
