title = "Article"
url = "/articles"
layout = "default"
is_hidden = 0
robot_index = "index"
robot_follow = "follow"

[SeoCmsPage]

[blogPosts articles]
pageNumber = "{{ :page }}"
postsPerPage = 6
noPostsMessage = "No posts found"
sortOrder = "published_at desc"
categoryPage = "categories"
postPage = "article"

[blogCategories categories]
slug = "{{ :slug }}"
displayEmpty = 0
categoryPage = "categories"

[viewBag]
localeUrl[ro] = "articole"
localeUrl[fr] = "articles"
localeUrl[de] = "artikel"


localeArticlePostPage[en] = "article"
localeArticlePostPage[ro] = "/ro/articol"
localeArticlePostPage[fr] = "/fr/article"
localeArticlePostPage[de] = "/de/artikel"

localeArticleListsPage[en] = "articles"
localeArticleListsPage[ro] = "/ro/articole"
localeArticleListsPage[fr] = "/fr/articles"
localeArticleListsPage[de] = "/de/artikel"

localeArchivePostPage[en] = "archive"
localeArchivePostPage[ro] = "/ro/arhiva"
localeArchivePostPage[fr] = "/fr/archive"
localeArchivePostPage[de] = "/de/archiv"

localeArchiveListsPage[en] = "archives"
localeArchiveListsPage[ro] = "/ro/arhive"
localeArchiveListsPage[fr] = "/fr/archives"
localeArchiveListsPage[de] = "/de/archive"

localeCategoryListsPage[en] = "categories"
localeCategoryListsPage[ro] = "/ro/categorii"
localeCategoryListsPage[fr] = "/fr/categories"
localeCategoryListsPage[de] = "/de/kategorien"
==
<?php
use RainLab\Blog\Models\Post;
use Fbr\BlogFeature\Models\BlogFeature;

function onStart(){
	$this['blog_feature_icon_arr'] =  BlogFeature::getBlogFeatureIconOptions();
}
?>
==
<div class="container">
  <div class="columns">
  	<div class="column col-12 col-nomanopa">
			<div class="btn-group btn-group">
	  		<button class="btn btn-link btn-sm" disabled><i class="icon icon-arrow-right"></i> {{ viewBag.localeArticleListsPage[activeLocale]|replace({('/'~activeLocale~'/'):''})}}</button>
	  	</div>
		</div>
	</div>
	{% component 'articles' %}
</div>
{% put sidebar %}
	{% partial 'categories/_categories-default' objCategories=categories %}
{% endput %}
