title = "Categorii"
url = "/categorii/:slug?"
layout = "default"
is_hidden = 0
robot_index = "index"
robot_follow = "follow"

[blogPosts categorii]
pageNumber = "{{ :page }}"
categoryFilter = "{{ :slug }}"
postsPerPage = 10
noPostsMessage = "No posts found"
sortOrder = "published_at desc"
categoryPage = "categorii"
postPage = "articol"

[SeoCmsPage]

[blogCategories articoleCategories]
slug = "{{ :slug }}"
displayEmpty = 0
categoryPage = "categorii"

[viewBag]
localeUrl[en] = "/categories/:slug?"
localeUrl[fr] = "/categories/:slug?"
localeUrl[de] = "/kategorien/:slug?"


localeArticlePostPage[ro] = "articol"
localeArticlePostPage[en] = "/en/article"
localeArticlePostPage[fr] = "/fr/article"
localeArticlePostPage[de] = "/de/artikel"

localeArticleListsPage[ro] = "articole"
localeArticleListsPage[en] = "/en/articles"
localeArticleListsPage[fr] = "/fr/articles"
localeArticleListsPage[de] = "/de/artikel"

localeArchivePostPage[ro] = "arhiva"
localeArchivePostPage[en] = "/en/archive"
localeArchivePostPage[fr] = "/fr/archive"
localeArchivePostPage[de] = "/de/archiv"

localeArchiveListsPage[ro] = "arhive"
localeArchiveListsPage[en] = "/en/archives"
localeArchiveListsPage[fr] = "/fr/archives"
localeArchiveListsPage[de] = "/de/archive"

localeCategoryListsPage[ro] = "categorii"
localeCategoryListsPage[en] = "/en/categories"
localeCategoryListsPage[fr] = "/fr/categories"
localeCategoryListsPage[de] = "/de/kategorien"

localeSlug[ro] = ""
localeSlug[en] = ""
localeSlug[fr] = ""
localeSlug[de] = ""
==
<?php
use RainLab\Blog\Models\Category;
use Fbr\BlogFeature\Models\BlogFeature;
use RainLab\Translate\Models\Message;

function onStart(){
	$this['blog_feature_icon_arr'] =  BlogFeature::getBlogFeatureIconOptions();

// add to [viewBag]['localeSlug'] the slug of the current "category", translated in all active languages
	$viewBagNewProperties = array();
	$viewBagExistingProperties = $this->viewBag->getProperties();

	// get current category and its translated slugs
	$curr_url_str = trim(Request::segment(3));
        if (empty($curr_url_str)) {
          $curr_url_str = trim(Request::segment(2));
        }
	$currentCategory = Category::transWhere('slug', "$curr_url_str", $this-activeLocale)->first();

	if (empty($currentCategory))
	{
		$currentCategory = Category::where('slug', "$curr_url_str")->first();
	}
  if (!empty($currentCategory))
	{
	// [viewBag] - add new properties: the blog post slug
			$localeSlugArr = array();
			if(is_array($this->locales))
			{
				foreach($this->locales as $langCode => $langName){
					$localeSlugArr[$langCode] = $current_article->lang($langCode)->slug;
				}
			}
			if(count($localeSlugArr) > 0)
			{
					$viewBagNewProperties['localeSlug'] = $localeSlugArr;
					$this->viewBag->setProperties(array_merge($viewBagExistingProperties,$viewBagNewProperties));
					///var_dump($this->viewBag->getProperties()['localeSlug']);die;
			}
   }
}
?>
==
<div class="uk-grid" data-uk-grid-margin>
 <div class="uk-width-small-7-10 uk-width-medium-4-5 uk-clearfix">
 <ul class="uk-breadcrumb">
    <li><span>{{ viewBag.localeCategoryListsPage[activeLocale]|replace({('/'~activeLocale~'/'):''})}}</span></li>
    <li class="uk-active"><span>{{ viewBag.localeSlug[activeLocale] }}</span></li>
 </ul>
 {% component 'categorii' posts=categorii %}
 </div>
 <div class="uk-width-small-3-10  uk-width-medium-1-5">
 {% partial 'categorii/_categories-default' objCategories=articoleCategories %}
 </div>
</div>
<hr class="uk-grid-divider">
