title = "Contact"
url = "/contact"
layout = "default"
description = "contact and reservation"
is_hidden = 0
robot_index = "index"
robot_follow = "follow"

[viewBag]
localeUrl[ro] = "/contact"
localeUrl[en] = "/contact"
localeUrl[fr] = "/contact"
localeUrl[de] = "/kontakt"

[reservationForm contact]
==

<section id="contact" class="container">
  <div class="columns">
    <div class="column col-7 col-xs-12">
      <h2><i class="icon icon-apps"></i> {{ 'Contact'|_ }}</h2>
      {% component 'contact' %}
    </div>
    <div class="column col-5 col-xs-12">
      <h2><i class="icon icon-search"></i></h2>
        <div class="panel">
            <div class="panel-header text-center">
              <div class="panel-title mt-10">{{ 'your-contact-title'|_ }}</div>
              <div class="panel-subtitle">{{ 'your-contact-subtitle'|_ }}</div>
            </div>
            <nav class="panel-nav">
              <ul class="tab tab-block">
                <li class="tab-item active">
                  <a href="#panels">
                    {{ 'your-contact-position'|_ }}
                  </a>
                </li>
              </ul>
            </nav>
            <div class="panel-body">
              <div class="tile tile-centered">
                <div class="tile-content">
                  <div class="tile-title">{{ 'Email'|_ }}</div>
                  <div class="tile-subtitle">{{ 'your-contact-email'|_ }}</div>
                </div>
                <div class="tile-action">
                  <button class="btn btn-link btn-action btn-lg"><i class="icon icon-mail"></i></button>
                </div>
              </div>
              <div class="tile tile-centered">
                <div class="tile-content">
                  <div class="tile-title">{{ 'Skype'|_ }}</div>
                  <div class="tile-subtitle">{{ 'your-contact-skype'|_ }}</div>
                </div>
                <div class="tile-action">
                  <button class="btn btn-link btn-action btn-lg"><i class="icon icon-people"></i></button>
                </div>
              </div>
              <div class="tile tile-centered">
                <div class="tile-content">
                  <div class="tile-title">{{ 'Location'|_ }}</div>
                  <div class="tile-subtitle">{{ 'your-contact-location'|_ }}</div>
                  {{ 'your-contact-gps-coordinate'|_ }}
                </div>
                <div class="tile-action">
                  <button class="btn btn-link btn-action btn-lg"><i class="icon icon-location"></i></button>
                </div>
              </div>
              <div class="tile tile-centered">
                <div class="tile-content">
                  <div class="tile-title">{{ 'Phone'|_ }}</div>
                  <div class="tile-subtitle">{{ 'your-contact-phone'|_ }}</div>
                </div>
                <div class="tile-action">
                  <button class="btn btn-link btn-action btn-lg"><i class="icon icon-message"></i></button>
                </div>
              </div>
              <div class="tile tile-centered">
                <div class="tile-content">
                  <div class="tile-title">{{ 'Web'|_ }}</div>
                  <div class="tile-subtitle"><a href="https://modernfitweb.com" target="_blank">modernfitweb.com</a></div>
                  <div class="tile-subtitle"><a href="http://psy.modernfitweb.com" target="_blank">psy.modernfitweb</a></div>
                  <div class="tile-subtitle"><a href="http://adimoldovanmoto.ro" target="_blank">adimoldovanmoto.ro</a></div>
                </div>
                <div class="tile-action">
                  <button class="btn btn-link btn-action btn-lg"><i class="icon icon-link"></i></button>
                </div>
              </div>
            </div>
          </div>
    </div>
  </div>
</section>
