title = "Error page (500)"
url = "/error"
layout = "default"

[viewBag]
localeUrl[ro] = "/eroare"
localeUrl[fr] = "/failure"
localeUrl[de] = "/fehler"
==
<?php
function onInit()
{

  // get the language into locale
  $this->locale = $this->defaultLocale = Config::get('app.fallback_locale', false);
  // init. the translator
  use RainLab\Translate\Classes\Translator;
  use RainLab\Translate\Models\Message;
  use RainLab\Translate\Models;

  $this->translator = Translator::instance();
///var_dump ($this->translator);var_dump ($this->translator);
  if (!$this->translator->isConfigured()) {
      return;
  }

  if (!$this->translator->loadLocaleFromRequest()) {
      $this->translator->loadLocaleFromSession();
      return;
  }

  if (!$this->translator->getLocale()) {
      $this->translator->setLocale($this->translator->getDefaultLocale());
  }


  $this->locale = $this->translator->getLocale();
  $this->defaultLocale = $this->translator->getDefaultLocale();
}
?>
==
<div class="jumbotron">
    <div class="container">
        <h1>Error</h1>
        <p>We're sorry, but something went wrong and the page cannot be displayed.</p>
    </div>
</div>
