title = "Homepage"
url = "/"
layout = "homepage-layout"
meta_title = "The title En"
meta_description = "The description En"
seo_keywords = "website, performant, site, web page, fast loading, web development, En"
is_hidden = 0
robot_index = "index"
robot_follow = "follow"

[viewBag]
localeUrl[ro] = "/acasa"
localeUrl[en] = "/"
localeUrl[fr] = "/maison"
localeUrl[de] = "/startseite"
localeMetaTitle[ro] = "Titlul"
localeMetaDescription[ro] = "Descrierea mea aici, descriere si dincolo"
localeSeoKeywords[ro] = "Cuvintele mele cheie"

[getFacebookConnector]
==
<div id="website-development" class="container" style="padding-top:4.2rem;">
 <h1  class="text-center">Website development</h1>
  <div class="notes">
    <h2>~ Responsive. Optimized. On-PageSEO. Administrable CMS ~</h2>
    <h3> our work on webpages stands for:</h3>
  <div class="float-left mr-10 mb-10"><i  class="fbr-icon-arrow notes-icon"></i><a id="multilingual" href="#" rel="nofollow"></a></div>
  <h4>&#10003; quality UI for your clients accordingly with mobile first approach and responsive design</h4>
  <h4>&#10003; <strong>a modern and robust  content management system (CMS) platform</strong></h4>
  <p>
  .. it’s scalable and extensible through the plugin system, is easily maintainable through its file-based system,
  and allows for the effortless creation of administrative back-end interfaces.
  </p>
  <h4>&#10003; <strong>a multilingual user interface</strong></h4>
  <p>
  .. improves the communication between the site and its visitors, out of the box, without other hidden costs.
  </p>
  <h4>&#10003; fast loading pages, tested with
    <a href="https://developers.google.com/speed/pagespeed/insights/?url=modernfitweb.com" target="_blank">Google's PageSpeed Insight Tools</a>
   our site achieved 96/100 poins! </h4>
  </div>
</div>

 <div id="responsive-design" class="container"  style="padding-top:4.2rem;">
  <h1 class="text-center">Responsive design</h1>
   <div class="notes">
     <h2>We develop a good a looking website with:</h2>
     <h3>&#10003; a <strong>fast loading</strong> time<br>
       &#10003; a carefully <strong>optimized</strong> output to achieve better ranking in search engines,<br>
       &#10003; a <strong>quality UI</strong> for your clients <br>
       &#10003; the right online image of your business <strong>on mobile phone, tablet, laptop, desktop or smart-TV</strong>.
     </h3>
     <div class="float-right ml-10 mb-10"><i  class="fbr-icon-interface-1 notes-icon"></i></div>
   <h2>Mobile first approach...</h2>
    <h3>highlights the need to prioritize the texts and images when user access the content from different devices</h3>
      <blockquote>
         <ul>
           <li>
             allows websites to reach more people (80% of the world’s population has a mobile device)
           </li>
           <li>
             keeps your users focused on the business concept and its functionality
           </li>
           <li>
              innovate and take advantage of new technologies (geolocation, touch events and more)
            </li>
          </ul>
      </blockquote>
      <p>Our site adapts its texts and images for multiple screen resolutions, with no other extra costs! </p>
   </div>
 </div>

<div id="optimized" class="container"  style="padding-top:4.2rem;">
 <h1 class="text-center">Optimized to perform</h1>
  <div class="notes">
    <div class="float-left mr-10 mb-10"><i  class="fbr-icon-technology-3 notes-icon"></i></div>
    <h2>What makes the difference between a good webpage and an outstanding one...</h2>
    <p>...  is a friendly UI <strong>focused on user's experience</strong> as a top priority in your web page,
     packed accordingly for different browsers,
     carefully optimized to be lightweight on all devices,
     with a built-in  on-page SEO module,
     using the latest standards in responsive design and still backwards compatible with the olderer browsers, e.g. IE 9 and above.
    </p>
    <h3>&#10003; <strong>a fast loading web page</strong>...</h3>
     <p>
        ...it is one direction to increase page ranking and for a better client's experience.
       Thus a modern web package should be <strong>optimized</strong> and <strong>lightweight</strong>, should <strong>avoid the page bloat (unused resources)</strong>
       to be sent quickly to the client's browser (on smartphone, tablet, laptop, desktop, smart TV, screen reader,...).
     </p>
      <p>
       Today <strong>the average web page is more than 2 MB in size</strong>! From the page speed point of view less is more,
       thus <strong>we are focused on deliver pages under 1MB</strong>.
     </p>
     <h3 id="transparency">&#10003; a built in <strong>on-page SEO module</strong>...</h3>
     <p>... it is another must have tool
       which allows to add to your website's pages the Meta fields (Meta Title, Description, Keywords)
       or  Open Graph(og) fields for better search engine ranking and easy sharing on social networking sites like Facebook.
     </p>
      <blockquote>
         <h4>Transparency is the key! </h4>
           We encourage you to <strong>prove our concept making several free tests</strong> with the available <u>tools to measure performance</u> of any public webpage.
           <h5>Please find below a few links to the <strong>free useful tools</strong>:</h5>
         <ul>
           <li><a href="https://developers.google.com/speed/pagespeed/insights/?url=https://modernfitweb.com/" target="_blank">Google PageSpeed Tools</a></li>
           <li><a href="https://tools.pingdom.com/#!/ix4IX/https://modernfitweb.com" target="_blank">Pingdom Website Speed Test</a></li>
           <li><a href="https://www.webpagetest.org" target="_blank">WebPagetest - Website Performance and Optimization Test</a></li>
           <li><a href="https://gtmetrix.com" target="_blank">GTmetrix</a></li>
       </ul>
       <p>
         <strong>Q:</strong> How to use them? <br>
         <strong>A:</strong> Just open the links presented above in your browser
         and fill in (via copy and paste) the link that you want to evaluate it
         (e.g.: <strong>{{ '/'|app }}</strong> ) and then  <strong>click on</strong> "ANALYZE" button,
         wait a few seconds and you'll receive the evaluation's results.
       </p>
       </blockquote>
  </div>
</div>

<div id="itsm" class="container" style="padding-top:4.2rem;">
 <h1 class="text-center">IT Service management (ITSM)</h1>
 <div class="notes">
   <div class="float-right ml-10 mb-10"><i  class="fbr-icon-networking-1 notes-icon"></i></div>
  <h3>&#10003; increase your team efficiency to manage multiple requests in your IT infrastructure and keep your customers happier:</h3>
    <h5>
      &#10003; <strong>Helpdesk</strong><br>
      &#10003; <strong>Change</strong> management<br>
      &#10003; <strong>Problem</strong> management<br>
      &#10003; <strong>Incident</strong> management<br>
      &#10003; <strong>Shared knowledge</strong> and <strong>FAQs</strong>, between your employees and your clients
    </h5>
{#    
	<h4>We belive in open source community</h4>
    <p>
      thus we advice you to checkout the complete solution, iTop (<strong>IT Operational Portal</strong>) a tool made by Combodo under GNU Affero General Public FREE License.
    </p>
    <h5>Benefits of using <strong>iTop</strong> are:</h5>
    <blockquote>
	    <ul>
	      <li><strong>Offers</strong> to your business <strong>a clear picture about your complex IT infrastructure</strong>
	        (servers, PCs, applications, network devices, virtual machines, contacts, locations, Contract, SLAs e.t.c.))</li>
	      <li><strong>Manage</strong> and <strong>follow up</strong> incidents, user requests, planned outages, track changes and provide impact analysis</li>
	      <li><strong>Administrate</strong> all your <strong>IT services and contracts</strong> with external providers including service level agreements</li>
	      <li>Data feeds from external sources makes an <strong>imports</strong> or an <strong>exports</strong> an easy task through its built in <strong>feature</strong></li>
	      <li><strong>Highly modulable</strong> and FREE solution</li>
	    </ul>
	</blockquote>
	<h5>iTop <strong>adds value to different types of persons</strong> in your internal organisation:</h5>
	<ul>
	  <li>Help Desk <strong>employees</strong></li>
	  <li>Support <strong>engineers</strong> (1<sup>st</sup> level, 2<sup>nd</sup> level)</li>
	  <li>Service <strong>managers</strong></li>
	  <li>IT <strong>technicians</strong></li>
	  <li><strong>End-users</strong> or <strong>customers</strong> can use the portal's interface in order to submit their requests
	  </li>
	</ul>
#}
 </div>
</div>
{% component 'getFacebookConnector' %}
