title = "Sitemap"
url = "/sitemap"
layout = "default"
is_hidden = 0
robot_index = "index"
robot_follow = "follow"

[viewBag]
localeUrl[en] = "/sitemap"
localeUrl[fr] = "/sitemap"
localeUrl[de] = "/sitemap"
==
<?php
function onStart(){

  use Cms\Classes\Theme;
  use RainLab\Sitemap\Models\Definition;
  $currentUrl = Request::path();
  ///$theme = Theme::load('modernfitweb_spectre');
  $themeActive = Theme::getActiveTheme()->getDirName();
  $sitemapArr = array();
  $path = Config::get('app.url', false);
  ///var_dump($path);
  $xmlStr = Definition::where('theme', $themeActive)->firstOrFail()->generateSitemap();

  $xmlObj = simplexml_load_string($xmlStr);
  ///$arrXml = $this->objectsIntoArray($xmlObj);
  //var_dump($xmlObj);
  ///$skipIndices = array('url');
  if (is_object($xmlObj)) {
      foreach ($xmlObj as $index => $value) {
        $sitemapArr[] = '<li><a href="'.$value->loc.'">'.str_replace($path, '', $value->loc).'</a></li>';
      }
    }
    $this['sitemapArr'] = $sitemapArr;
  ///  var_dump($sitemapArr);
}

public function objectsIntoArray($arrObjData, $arrSkipIndices = array())
{
    $arrData = array();

    // if input is object, convert into array
    if (is_object($arrObjData)) {
        $arrObjData = get_object_vars($arrObjData);
    }

    if (is_array($arrObjData)) {
        foreach ($arrObjData as $index => $value) {
            if (is_object($value) || is_array($value)) {
                $value = $this->objectsIntoArray($value, $arrSkipIndices); // recursive call
            }
            if (in_array($index, $arrSkipIndices)) {
                continue;
            }
            $arrData[$index] = $value;
        }
    }
    return $arrData;
}
?>
==
<ul class="uk-list">
{% for aLink in sitemapArr %} {{ aLink|raw }}{% endfor %}
</ul>
